<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduccion-a-Pandas" data-toc-modified-id="Introduccion-a-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduccion a Pandas</a></span></li><li><span><a href="#Series-de-Pandas" data-toc-modified-id="Series-de-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series de Pandas</a></span><ul class="toc-item"><li><span><a href="#¬øQu√©-es-una-Serie?" data-toc-modified-id="¬øQu√©-es-una-Serie?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>¬øQu√© es una Serie?</a></span></li><li><span><a href="#Creaci√≥n-de-Series" data-toc-modified-id="Creaci√≥n-de-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Creaci√≥n de Series</a></span></li><li><span><a href="#Propiedades-de-las-Series" data-toc-modified-id="Propiedades-de-las-Series-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Propiedades de las Series</a></span></li><li><span><a href="#Indexaci√≥n-de-las-Series" data-toc-modified-id="Indexaci√≥n-de-las-Series-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Indexaci√≥n de las Series</a></span></li></ul></li><li><span><a href="#DataFrames-en-Pandas" data-toc-modified-id="DataFrames-en-Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrames en Pandas</a></span><ul class="toc-item"><li><span><a href="#¬øQu√©-es-un-DataFrame?" data-toc-modified-id="¬øQu√©-es-un-DataFrame?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¬øQu√© es un DataFrame?</a></span></li><li><span><a href="#Creaci√≥n-de-DataFrames" data-toc-modified-id="Creaci√≥n-de-DataFrames-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Creaci√≥n de DataFrames</a></span></li><li><span><a href="#Apertura-de-ficheros-en-Pandas" data-toc-modified-id="Apertura-de-ficheros-en-Pandas-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Apertura de ficheros en Pandas</a></span></li><li><span><a href="#pd.read_csv()" data-toc-modified-id="pd.read_csv()-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>pd.read_csv()</code></a></span></li><li><span><a href="#pd.read_excel()" data-toc-modified-id="pd.read_excel()-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span><code>pd.read_excel()</code></a></span></li><li><span><a href="#pd.read_json()" data-toc-modified-id="pd.read_json()-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span><code>pd.read_json()</code></a></span></li><li><span><a href="#pd.read_pickle" data-toc-modified-id="pd.read_pickle-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span><code>pd.read_pickle</code></a></span></li><li><span><a href="#loc-e-iloc-(Indexaci√≥n-en-Pandas)" data-toc-modified-id="loc-e-iloc-(Indexaci√≥n-en-Pandas)-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>loc e iloc (Indexaci√≥n en Pandas)</a></span><ul class="toc-item"><li><span><a href="#Selecci√≥n-a-trav√©s-de-un-√∫nico-elemento" data-toc-modified-id="Selecci√≥n-a-trav√©s-de-un-√∫nico-elemento-3.8.1"><span class="toc-item-num">3.8.1&nbsp;&nbsp;</span>Selecci√≥n a trav√©s de un √∫nico elemento</a></span></li><li><span><a href="#Selecci√≥n-a-trav√©s-de-una-lista-de-valores" data-toc-modified-id="Selecci√≥n-a-trav√©s-de-una-lista-de-valores-3.8.2"><span class="toc-item-num">3.8.2&nbsp;&nbsp;</span>Selecci√≥n a trav√©s de una lista de valores</a></span></li><li><span><a href="#Selecci√≥n-de-un-rango-de-datos-a-trav√©s-de-un-corte" data-toc-modified-id="Selecci√≥n-de-un-rango-de-datos-a-trav√©s-de-un-corte-3.8.3"><span class="toc-item-num">3.8.3&nbsp;&nbsp;</span>Selecci√≥n de un rango de datos a trav√©s de un corte</a></span></li><li><span><a href="#Seleccionar-basado-en-una-condici√≥n" data-toc-modified-id="Seleccionar-basado-en-una-condici√≥n-3.8.4"><span class="toc-item-num">3.8.4&nbsp;&nbsp;</span>Seleccionar basado en una condici√≥n</a></span></li></ul></li><li><span><a href="#Creaci√≥n-nuevas-columnas" data-toc-modified-id="Creaci√≥n-nuevas-columnas-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Creaci√≥n nuevas columnas</a></span><ul class="toc-item"><li><span><a href="#Asignaci√≥n-directa" data-toc-modified-id="Asignaci√≥n-directa-3.9.1"><span class="toc-item-num">3.9.1&nbsp;&nbsp;</span>Asignaci√≥n directa</a></span></li><li><span><a href="#.assign()" data-toc-modified-id=".assign()-3.9.2"><span class="toc-item-num">3.9.2&nbsp;&nbsp;</span><code>.assign()</code></a></span></li><li><span><a href="#insert()" data-toc-modified-id="insert()-3.9.3"><span class="toc-item-num">3.9.3&nbsp;&nbsp;</span><code>insert()</code></a></span></li></ul></li></ul></li><li><span><a href="#Ejercicios" data-toc-modified-id="Ejercicios-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Ejercicios</a></span></li></ul></div>

# Introduccion a Pandas

Al inicio del m√≥dulo 2 ya hablamos de Pandas, y dijimos que era una de las librer√≠as con las que m√°s ibamos a usar a lo largo del curso. Como dijimos, Pandas es una biblioteca de Python especializada en el manejo y an√°lisis de estructuras de datos. Algunas de las principales caracter√≠sticas de Pandas son:

- Define nuevas estructuras de datos basadas en los *arrays* de la biblioteca NumPy, pero con funcionalidades adicionales. Esto significa que puedes aprovechar las capacidades de NumPy y agregar nuevas funcionalidades espec√≠ficas para el an√°lisis de datos.

- Permite leer y escribir f√°cilmente archivos en formatos comunes como CSV, Excel y bases de datos SQL, lo que facilita la importaci√≥n y exportaci√≥n de datos desde y hacia diferentes fuentes.

- Permite acceder a los datos mediante √≠ndices o nombres para filas y columnas. Esto significa que puedes acceder a los datos utilizando etiquetas en lugar de solo posiciones num√©ricas, lo cual es especialmente √∫til cuando los datos est√°n etiquetados o indexados de manera significativa.

- Ofrece m√©todos para reordenar, dividir y combinar conjuntos de datos. Puedes realizar operaciones como clasificaci√≥n, filtrado y combinaci√≥n de datos para obtener resultados espec√≠ficos o realizar an√°lisis m√°s avanzados.

- Permite trabajar con series temporales, lo que facilita el an√°lisis y manipulaci√≥n de datos que est√°n organizados en funci√≥n del tiempo, como series de tiempo financieras o datos de sensores recopilados a intervalos regulares.

- Realiza todas estas operaciones de manera muy eficiente. Pandas est√° dise√±ado para manejar eficientemente grandes vol√∫menes de datos y proporciona herramientas optimizadas para realizar operaciones en memoria y en paralelo.

En cuanto a las estructuras de datos en Pandas, existen tres principales:

1. `Series`: Representa una estructura de datos unidimensional similar a un array o una columna en una tabla. Cada elemento en una Serie tiene un √≠ndice asociado que permite acceder a los datos de forma individual.

2. `DataFrame`: Representa una estructura de datos bidimensional similar a una tabla de una base de datos o una hoja de c√°lculo de Excel. Consiste en una colecci√≥n de Series organizadas en columnas. Los DataFrames son especialmente √∫tiles para el an√°lisis de datos tabulares y ofrecen una gran cantidad de funcionalidades para manipular y analizar los datos.

3. `Panel`: Representa una estructura de datos tridimensional, aunque su uso no es tan com√∫n como las Series y los DataFrames. Puede considerarse como una colecci√≥n de DataFrames.

In [1]:
# importamos la pandas para poder trabajar en la lecci√≥n
import pandas as pd

# Series de Pandas

## ¬øQu√© es una Serie?


Como hemos dicho, una Serie es una estructura de datos unidimensional en Pandas. Se puede pensar en una Serie como una columna en una tabla  con etiquetas de √≠ndice. Cada elemento en una Serie tiene un √≠ndice asociado que permite acceder a los datos de forma individual.

Las Series en Pandas tienen las siguientes caracter√≠sticas:

1. **Datos homog√©neos**: Una Serie contiene datos de **un solo tipo**, como *integer*s, *float*s, *strings*, etc. 

2. **√çndices etiquetados**: Cada elemento en una Serie tiene una etiqueta de √≠ndice asociada. Los √≠ndices pueden ser etiquetas personalizadas o valores num√©ricos generados autom√°ticamente. Estas etiquetas permiten un acceso m√°s intuitivo a los datos en lugar de depender solo de las posiciones num√©ricas.

3. **Funcionalidades adicionales**: Las Series en Pandas proporcionan numerosas funcionalidades para manipular y analizar datos de manera eficiente. Puedes realizar operaciones matem√°ticas, filtrado de datos, agregaci√≥n, ordenamiento, alineaci√≥n de datos, entre otras.

Es importante destacar que las Series y los DataFrames son los elementos fundamentales en el ecosistema de Pandas, y muchas operaciones de an√°lisis de datos se realizan utilizando estas estructuras de datos.


## Creaci√≥n de Series

Podemos crear Series de distintas formas: 

- Series vac√≠as

- Series a partir de un *array*. Recordamos, las Series son unidimensionales, por lo tanto solo le podremos pasar *arrays* unidimensionales

- Series a partir de listas

- Series a partir de un diccionario

**Serie vac√≠a**

In [2]:
# creemos algunas Series en Pandas para entenderlas mejor.
# en este primer ejemplo crearemos una Serie vac√≠a
serie_vacia = pd.Series()
serie_vacia

Series([], dtype: object)

**Serie a partir de listas**

In [3]:
# esta Serie esta bien, pero en realidad por lo general querremos tener Series con datos
# creemos ahora una serie a partir de una lista

# definimos la lista
lista = [23,45,17,83, 67]

# convertimos esta lista en una Serie
serie_lista1 = pd.Series(lista)
serie_lista1

0    23
1    45
2    17
3    83
4    67
dtype: int64

üìå Si nos fijamos el m√©todo `pd.Series` nos va a generar autom√°ticamente el √≠ndice y lo crea con n√∫meros consecutivos, empezando por el 0. Sin embargo, tambi√©n le podemos pasar los √≠ndices que queramos usando el par√°metro `index`. 

> index: Es un par√°metro opcional de la funci√≥n `pd.Series`. En este caso, se proporciona una lista de √≠ndices personalizados para la Serie. Los √≠ndices indican c√≥mo se etiquetar√°n los elementos de la Serie. En este ejemplo, los √≠ndices se definen en el orden especificado: 3, 4, 5, 6, 7, 8, 9, 1, 2.

Tener √≠ndices personalizados puede ser √∫til cuando necesitamos acceder a los elementos de la Serie utilizando etiquetas espec√≠ficas en lugar de las posiciones num√©ricas predeterminadas. Esto facilita la manipulaci√≥n y el an√°lisis de los datos en la Serie. 

Es importante destacar que los √≠ndices pueden ser de diferentes tipos, incluidos *integer*s, cadenas, fechas, etc. Adem√°s, los √≠ndices no necesariamente tienen que estar en orden o ser consecutivos. Esto proporciona una gran flexibilidad en el uso de las Series en Pandas.

In [4]:
# vamos a definir una nueva serie pero en este caso vamos a ponerle nuestro propio √≠ndice usando el par√°metro 'index'
serie_lista2 = pd.Series(lista, index = [3,4,5,6,7])
serie_lista2

3    23
4    45
5    17
6    83
7    67
dtype: int64

In [5]:
# como hemos mencionado los √≠ndices pueden ser de distintos tipos, en este caso crearemos una nueva Serie donde sus √≠ndices sean strings
serie_lista3 = pd.Series(lista, index = ["Lunes","Martes","Miercoles","Jueves","Viernes"])
serie_lista3

Lunes        23
Martes       45
Miercoles    17
Jueves       83
Viernes      67
dtype: int64

**Series a partir de diccionarios**

In [6]:
# definir un diccionario 
dicc = {'lorena' : 10, 
        'marta' : 20, 
        'pilar' : 30, 
        'laura': 50, 
       'ana': 86, 
        'maria': 28} 

# crear una serie nueva a partir del diccionario definido previamente
serie_diccionario = pd.Series(dicc)
serie_diccionario

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

## Propiedades de las Series

Las propiedades son atributos espec√≠ficos que nos proporcionan informaci√≥n sobre las caracter√≠sticas de una Serie en particular. ALas propiedades m√°s importantes de las Series en Pandas:

1. **values**: Esta propiedad devuelve los valores de la Serie como un array NumPy. Puedes acceder a ellos utilizando la sintaxis `serie.values`.

2. **index**: Esta propiedad devuelve los √≠ndices de la Serie. Los √≠ndices pueden ser de cualquier tipo, incluyendo *integer*s, cadenas u otros objetos. Puedes acceder a ellos utilizando la sintaxis `serie.index`.

3. **dtype**: Esta propiedad devuelve el tipo de datos de los elementos en la Serie. Puedes acceder a √©l utilizando la sintaxis `serie.dtype`. Los tipos de datos comunes incluyen `int64`, `float64`, `object`, `datetime64`, entre otros.

4. **size**: Esta propiedad devuelve el n√∫mero total de elementos en la Serie. Puedes acceder a √©l utilizando la sintaxis `serie.size`.

5. **shape**: Esta propiedad devuelve una tupla que representa la forma (dimensiones) de la Serie. En el caso de una Serie unidimensional, la forma ser√° `(n,)`, donde `n` es el n√∫mero de elementos en la Serie. Puedes acceder a √©l utilizando la sintaxis `serie.shape`.

Estas propiedades son √∫tiles para obtener informaci√≥n sobre una Serie en particular, como el tipo de datos, el n√∫mero de elementos y los √≠ndices asociados. Adem√°s, las propiedades pueden ser utilizadas en conjunto con los m√©todos y funciones de Pandas para realizar operaciones y an√°lisis m√°s avanzados en los datos de la Serie.

Es importante tener en cuenta que las Series son inmutables, lo que significa que no puedes cambiar sus elementos directamente. Sin embargo, puedes realizar operaciones y manipulaciones en las Series para obtener nuevos resultados o modificar la estructura de los datos en funci√≥n de tus necesidades.

In [7]:
# recordemos la serie
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# utilizamos el m√©todo index que nos va a devolver todos los √≠ndices 
# fijaos como en este caso nos ha devuelto todos los √≠ndices de nuestra Serie, es decir, los nombres de las alumnas
print(f"El m√©todo 'index' nos devuelve los √≠ndices de la Serie: {serie_diccionario.index}")
print("---------------------------")

# ahora utilizamos el m√©todo 'values' nos devuelve todos los valores de la Serie
# en este caso los n√∫meros que ten√≠amos
print(f"El m√©todo 'values' nos devuelve los valores de la Serie: {serie_diccionario.values}")
print("---------------------------")

#utilizando el m√©todo 'shape' nos devuelve el n√∫mero de "filas" que tenemos en la Serie
print(f"El m√©todo 'shape' nos devuelve la forma de la Serie: {serie_diccionario.shape}")
print("---------------------------")

#utilizando el m√©todo 'size' nos devuelve el n√∫mero de elementos que tenemos en la Serie
print(f"El m√©todo 'size' nos devuelve el n√∫mero de elementos de la Serie: {serie_diccionario.size}")
print("---------------------------")

#utilizando el m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie
print(f"El m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie: {serie_diccionario.dtypes}")

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
El m√©todo 'index' nos devuelve los √≠ndices de la Serie: Index(['lorena', 'marta', 'pilar', 'laura', 'ana', 'maria'], dtype='object')
---------------------------
El m√©todo 'values' nos devuelve los valores de la Serie: [10 20 30 50 86 28]
---------------------------
El m√©todo 'shape' nos devuelve la forma de la Serie: (6,)
---------------------------
El m√©todo 'size' nos devuelve el n√∫mero de elementos de la Serie: 6
---------------------------
El m√©todo 'dtypes' nos devuelve el tipo de datos de la Serie: int64

## Indexaci√≥n de las Series

La indexaci√≥n se refiere a la forma en que accedemos a los elementos de una Serie utilizando √≠ndices o etiquetas. Pandas ofrece varias opciones para indexar y seleccionar elementos en una Serie. Algunas de las principales formas de realizar la indexaci√≥n en las Series son:

1. **Indexaci√≥n por posici√≥n**: Podemos acceder a los elementos de una Serie utilizando la posici√≥n num√©rica del elemento en la Serie, como hac√≠amos con las listas

2. **Indexaci√≥n por etiqueta**: Podemos acceder a los elementos de una Serie utilizando las etiquetas de √≠ndice asociadas a cada elemento. 

3. **Indexaci√≥n por rango**: Podemos acceder a un rango de elementos de una Serie utilizando los √≠ndices de inicio y fin. 

4. **Indexaci√≥n por lista de √≠ndices**: Podemos acceder a varios elementos de una Serie utilizando una lista de √≠ndices.

 **Indexaci√≥n por posici√≥n**

In [8]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos al primer elemento (10). üö® Fijaos como los √≠ndices son como los de las listas, empiezan en 0
print("El valor que est√° en posici√≥n 0 es:", serie_diccionario[0])  
print("---------------------------")

# accedemos al tercer elemento (30)
print("El valor que est√° en posici√≥n 2 es:", serie_diccionario[2])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
El valor que est√° en posici√≥n 0 es: 10
---------------------------
El valor que est√° en posici√≥n 2 es: 30

/tmp/ipykernel_23697/1694459340.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("El valor que est√° en posici√≥n 0 es:", serie_diccionario[0])
/tmp/ipykernel_23697/1694459340.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("El valor que est√° en posici√≥n 2 es:", serie_diccionario[2])

**Indexaci√≥n por etiqueta**

In [9]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")


# accedemos al valor de la etiqueta de "laura" (50). üö® Esto lo podr√≠amos comparar con los diccionarios
print("El valor que est√° en posici√≥n 0 es:", serie_diccionario["laura"])  
print("---------------------------")

# accedemos al valor de la etiqueta de "pilar" (30). 
print("El valor que est√° en posici√≥n 2 es:", serie_diccionario["pilar"])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
El valor que est√° en posici√≥n 0 es: 50
---------------------------
El valor que est√° en posici√≥n 2 es: 30

**Indexaci√≥n por rango**:

In [10]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos a los elementos desde el √≠ndice 1 al 3 ([30, 50]). üö® De niuevo fijaos como esto funciona igual que en listas
# nos esta incluyendo el valor que est√° en el √≠ndice 1, pero no el que est√° en el √≠ndice 4
print("Los valores de los √≠ndices que est√°n entre las posiciones 1 y 3 (incluida) es: \n", serie_diccionario[1:4])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
Los valores de los √≠ndices que est√°n entre las posiciones 1 y 3 (incluida) es:
 marta    20
pilar    30
laura    50
dtype: int64

**Indexaci√≥n por lista de √≠ndices**

In [11]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# Acceder a los elementos con √≠ndices 1, 3 y 4. üö® Fijaos como en este caso, le hemos puesto dos corchetes
print("Los valores de los √≠ndices que est√°n en las posiciones 1,3, y 4 son: \n", serie_diccionario[[0,2,3]])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
Los valores de los √≠ndices que est√°n en las posiciones 1,3, y 4 son:
 lorena    10
pilar     30
laura     50
dtype: int64

/tmp/ipykernel_23697/3366552553.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Los valores de los √≠ndices que est√°n en las posiciones 1,3, y 4 son: \n", serie_diccionario[[0,2,3]])

# DataFrames en Pandas

## ¬øQu√© es un DataFrame?

En el m√≥dulo anterior ya hab√≠amos hablado un poco de los DataFrames de Pandas y hab√≠amos hablado de que son. Sin embargo recordemos un poco de ellos y profundizemos un poco m√°s en sus caracter√≠sticas. Un **DataFrame** es una estructura de datos bidimensional en forma de tabla, similar a una hoja de c√°lculo o una base de datos relacional. Es una de las estructuras de datos m√°s utilizadas en el an√°lisis de datos con Pandas.

Las principales caracter√≠sticas de los DataFrames son:

1. **Estructura tabular**: Los DataFrames est√°n organizados en filas y columnas. Cada columna representa una variable o caracter√≠stica, y cada fila representa una observaci√≥n o entrada de datos. Esto facilita la visualizaci√≥n y el manejo de los datos en forma tabular.

2. **Flexibilidad**: Al contrario que las Series, los DataFrames pueden contener datos de diferentes tipos, como *integer*s, *float*s, cadenas, fechas, *bool*s, entre otros. Adem√°s, las columnas pueden tener nombres personalizados y los √≠ndices pueden ser etiquetados con valores personalizados.

3. **Operaciones eficientes**: Los DataFrames en Pandas est√°n dise√±ados para realizar operaciones eficientes en grandes conjuntos de datos. Ofrecen una amplia gama de funciones y m√©todos para manipular y analizar datos de manera r√°pida y eficiente.

4. **Facilidad de importaci√≥n y exportaci√≥n**: Los DataFrames pueden leer y escribir datos en diversos formatos, como CSV, Excel, archivos de texto, bases de datos SQL, JSON, entre otros. Esto facilita la importaci√≥n y exportaci√≥n de datos desde y hacia diferentes fuentes de datos.

5. **Indexaci√≥n flexible**: Los DataFrames permiten acceder y manipular los datos utilizando diversas t√©cnicas de indexaci√≥n, como indexaci√≥n por posici√≥n, indexaci√≥n por etiqueta, indexaci√≥n booleana y m√°s. Esto permite seleccionar y filtrar datos de manera precisa y eficiente.

## Creaci√≥n de DataFrames

En Pandas, podemos crear DataFrames a partir de una variedad de fuentes de datos. Aqu√≠ tienes algunos ejemplos de c√≥mo crear DataFrames utilizando diferentes m√©todos en Pandas:

1. **A partir de un diccionario de listas**: Podemos crear un DataFrame a partir de un diccionario de listas, donde cada clave representa una columna y cada valor es una lista representa los valores de esa columna. 

2. **A partir de una lista de diccionarios**: Podemos crear un DataFrame a partir de una lista de diccionarios, donde cada diccionario representa una fila y las claves del diccionario representan las columnas.

**A partir de un diccionario de listas**

In [12]:
# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del m√≥dulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Ana', 'Juan', 'Mar√≠a', 'Pedro'],
    'Edad': [25, 30, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# convertimos el diccionario en DataFrame usando el m√©todo 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el m√©todo '.head()' 
df_diccionario.head()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  Mar√≠a    28   Valencia
3  Pedro    35    Sevilla

**A partir de una lista de diccionarios**

In [13]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'Mar√≠a', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el m√©todo 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el m√©todo '.tail()' para mostrar las √∫ltimas 5 filas. 
df_lista.tail()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  Mar√≠a    28   Valencia
3  Pedro    35    Sevilla

## Apertura de ficheros en Pandas

En Pandas hay varios m√©todos disponibles para abrir distintos tipos de archivos. Algunos de los m√©todos m√°s comunes para leer diferentes tipos de archivos en Pandas son los siguientes::

1. `pd.read_csv`.

2. `pd.read_excel`

3. `pd.read_json`

4. `pd.read_pickle`

## `pd.read_csv()`

La sintaxis b√°sica de `pd.read_csv` es la siguiente:

```python
pd.read_csv(ruta_al_fichero , sep=',', delimiter=None, header='infer', names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo CSV que deseas leer.

- `sep` (opcional): Es el separador utilizado en el archivo CSV para separar los valores. Por defecto, es una coma (',').

- `delimiter` (opcional): Es un alias para `sep`. Puedes usar `delimiter` en lugar de `sep` si prefieres.

- `header` (opcional): Indica la fila del archivo CSV que se utilizar√° como encabezado de columnas. Puede tener los siguientes valores:
  - `None`: No hay encabezado y los datos se leer√°n sin nombres de columna.
  - `'infer'`: Intentar√° inferir autom√°ticamente los nombres de columna del archivo.
  - Un n√∫mero *integer* que especifica la fila del archivo que se utilizar√° como encabezado de columna (por ejemplo, `header=0`).


- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazar√° los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizar√° como √≠ndice del DataFrame resultante. Puede ser un n√∫mero *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Estos son solo algunos de los par√°metros m√°s comunes utilizados en `pd.read_csv`. La funci√≥n `pd.read_csv` tambi√©n admite muchos otros par√°metros, como `skiprows`, `na_values`, `parse_dates` y m√°s. Siempre podemos consultar la documentaci√≥n oficial de este m√©todo [aqu√≠](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) para obtener informaci√≥n m√°s detallada sobre estos par√°metros y sus opciones.

In [15]:
df_jobs = pd.read_csv("../files/jobs.csv")
df_jobs.head(1)

,id,title,country,location,company,date,description,company_link,experience,keywords
0,1,Frontend Developer,mexico,"Hacienda San Pablo, M√©xico, Mexico",Vox Feed,2019-08-18,Passion for building interfaces that bring the...,NaN,2,web developer

Como la propia definici√≥n indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el ejemplo que vemos a continuaci√≥n:

In [16]:
df_aire = pd.read_csv("../files/aire.csv")
df_aire.head(1)

  provincia;municipio;estacion;magnitud;punto_muestreo;ano;mes;dia;h01;v01;h02;v02;h03;v03;h04;v04;h05;v05;h06;v06;h07;v07;h08;v08;h09;v09;h10;v10;h11;v11;h12;v12;h13;v13;h14;v14;h15;v15;h16;v16;h17;v17;h18;v18;h19;v19;h20;v20;h21;v21;h22;v22;h23;v23;h24;v24
0  28;102;1;1;28102001_1_38;2022;1;30;3;T;3;T;3;T...

Oh oh... Algo ha salido mal... Si nos fijamos nuestras columnas est√°n separadas por `;`. ¬øC√≥mo podemos solucionar esto? 

> Usando el par√°metro `sep` de `pd.read_csv` donde tendremos que especificar por qu√© est√°n separadas mis columnas.

In [17]:
df_aire = pd.read_csv("../files/aire.csv", sep = ";")
df_aire.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

La sintaxis b√°sica de `pd.read_excel` es la siguiente:

```python
pd.read_excel(ruta_al_fichero, sheet_name=0, header=0, names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`:  Es el nombre del archivo o la ruta de Excel que deseas leer. 

- `sheet_name` (opcional): Indica la hoja o hojas del archivo Excel que deseas leer. Puede tener los siguientes valores:

  - Un n√∫mero *integer* que especifica el √≠ndice de la hoja (por ejemplo, `sheet_name=0` para la primera hoja).

  - Un nombre de hoja como una cadena (por ejemplo, `sheet_name='Sheet1'`).

  - Una lista de nombres de hojas para leer varias hojas (por ejemplo, `sheet_name=['Sheet1', 'Sheet2']`).

- `header` (opcional): Idica la fila del archivo Excel que se utilizar√° como encabezado de columnas. Puede tener los siguientes valores:

  - `None`: No hay encabezado y los datos se leer√°n sin nombres de columna.

  - Un n√∫mero *integer* que especifica la fila del archivo que se utilizar√° como encabezado de columna (por ejemplo, `header=0`).

- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazar√° los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizar√° como √≠ndice del DataFrame resultante. Puede ser un n√∫mero *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Adem√°s de estos par√°metros, `pd.read_excel` tambi√©n admite otros par√°metros opcionales, como `skiprows`, `na_values`, `usecols` y m√°s. Estos par√°metros nos permiten personalizar a√∫n m√°s la lectura de archivos Excel seg√∫n tus necesidades. Al igual que en el m√©todo `pd.read_csv()`, podemos  consultar la [documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) para obtener informaci√≥n m√°s detallada sobre estos par√°metros y sus opciones.

In [18]:
df_xlsx = pd.read_excel("../files/espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,√Åreas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los r√≠os Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa √Åreas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los r√≠...
1,√Åreas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rinc√≥n,15231.000,2005-06-29,Normativa √Åreas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rinc√≥n
2,√Åreas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Pe√±alara,487.198,2005-12-16,Normativa √Åreas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci√≥n para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protecci√≥n para las Aves,Soto de Vi√±uelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

üö®‚ö†Ô∏è **NOTA** Puede que al ejecutar este l√≠nea de c√≥digo os salga el siguiente error: 

![error](https://github.com/Adalab/data_imagenes/blob/main/Pandas/error_excel.png?raw=true)

**DON'T PANIC!!!** Lo √∫nico que tendre√≠s que hacer es importaros `openpyxl`. ¬øC√≥mo? 

- Nos vamos a la terminal y ejecutamos el siguiente c√≥digo: 

```
pip3 install openpyxl
```

o 

```
pip install openpyxl
```

## `pd.read_json()`

La sintaxis b√°sica de `pd.read_json` es la siguiente:

```python
pd.read_json(ruta_al_fichero, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo JSON que deseas leer.

- `orient` (opcional): Especifica la orientaci√≥n del archivo JSON. Puede tener los siguientes valores:

  - `'columns'` (por defecto): Se espera que el archivo JSON tenga un formato de columna.

  - `'index'`: Se espera que el archivo JSON tenga un formato de √≠ndice.

  - `'records'`: Se espera que el archivo JSON tenga un formato de registros.

  - `'split'`: Se espera que el archivo JSON tenga un formato dividido.

  - `'values'`: Se espera que el archivo JSON contenga solo valores sin ninguna etiqueta de columna o √≠ndice.

- `typ` (opcional): Indica el tipo de objeto a crear. Puede tener los siguientes valores:

  - `'frame'` (por defecto): Crea un objeto DataFrame.

  - `'series'`: Crea un objeto Series.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

- `convert_axes` (opcional): Indica si las etiquetas de los ejes deben convertirse en √≠ndices o nombres de columna. Por defecto, es `True`.

- `convert_dates` (opcional): Indica si se deben convertir las cadenas de fecha y hora en objetos de fecha y hora. Por defecto, es `True`.

- `keep_default_dates` (opcional): Especifica si se deben mantener las fechas predeterminadas al convertir cadenas de fecha y hora. Por defecto, es `True`.

- `numpy` (opcional): Indica si los datos deben devolverse como una matriz NumPy en lugar de un objeto DataFrame. Por defecto, es `False`.

- `precise_float` (opcional): Indica si se deben utilizar n√∫meros de punto *float* precisos en lugar de valores de punto *float* nativos de Python. Por defecto, es `False`.

- `date_unit` (opcional): Especifica la unidad de fecha y hora si se deben convertir las cadenas de fecha y hora. Puede ser `'s'` para segundos o `'ms'` para milisegundos.

- `encoding` (opcional): Permite especificar la codificaci√≥n del archivo JSON si no se puede inferir autom√°ticamente.

- `lines` (opcional): Indica si el archivo JSON contiene m√∫ltiples objetos JSON en l√≠neas separadas en lugar de un solo objeto JSON.

Estos son solo algunos de los par√°metros m√°s comunes utilizados en `pd.read_json`. La funci√≥n `pd.read_json` tambi√©n admite otros par√°metros opcionales, como `orient`, `date_format`, `numpy`, `compression` y m√°s. Podemos consultar la [documentaci√≥n oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) para obtener informaci√≥n m√°s detallada sobre estos par√°metros y sus opciones.

In [19]:
df_residuos = pd.read_json("../files/residuos.json")
df_residuos.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

In [ ]:
# esto nos devuelve un DataFrame que esta lleno de diccionarios!
# sin embargo, lo podemos convertir f√°cilmente a algo m√°s legible usando la siguiente sintaxis
# este c√≥digo no es necesario que lo entendamos ahora, m√°s adelante seg√∫n avancen las lecciones lo iremos entendiendo mejor!

df_residuos2 = df_residuos['data'].apply(pd.Series)
df_residuos2.head()

/tmp/ipykernel_4867/1252841819.py:5: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  df_residuos2 = df_residuos['data'].apply(pd.Series)

,residuos_pelig_cantidad_ton,residuos_pelig_a√±o,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperaci√≥n de disolventes
1,1927.25,2012,Reciclado,Recuperaci√≥n de metales
2,25333.54,2012,Reciclado,Regeneraci√≥n de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorizaci√≥n,Trituraci√≥n previa a valorizaci√≥n de bater√≠as
4,13109.74,2012,Tratamiento previo a otras formas de valorizaci√≥n,Operaciones previas a valorizaci√≥n de RAEE

## `pd.read_pickle`


**¬øQu√© es Pickle exactamente?**

Un archivo de tipo pickle es un archivo binario en Python que se utiliza para serializar y deserializar objetos,  su acr√≥nimo viene de *Python Pickle Format* que fue desarrollado exclusivamente para Python. Leyendo solo esto podemos seguir sin tener claro que es un archivo de tipo pickle. Expliquemoslo de una forma m√°s sencilla. Imagina que tienes un mont√≥n de objetos especiales en tu habitaci√≥n, como juguetes, libros, peluches, etc. Ahora, supongamos que quieres guardar todos estos objetos en una caja para poder llevarlos contigo o almacenarlos de manera segura.

Aqu√≠ es donde entra en juego un archivo pickle. Es como una caja especial que te permite guardar todos estos objetos en ella. Pero, en lugar de objetos f√≠sicos, el archivo pickle puede almacenar objetos digitales, como datos, n√∫meros, listas, diccionarios y m√°s.

El archivo pickle es como una caja m√°gica que puede guardar todos tus objetos digitales de Python. Cuando guardas estos objetos en un archivo pickle, se convierten en una forma especial que se puede almacenar en tu computadora o enviar a alguien m√°s.

La sintaxis b√°sica de `pd.read_pickle` es la siguiente:

```python
pd.read_pickle(ruta_al_fichero, compression='infer')
```

Donde:

- `filepath_or_buffer`: Es la ruta del archivo pickle que deseas leer.

- `compression` (opcional): Es un par√°metro opcional que indica el tipo de compresi√≥n utilizado en el archivo pickle. Por defecto, es `'infer'`, lo que significa que la biblioteca intentar√° inferir autom√°ticamente el tipo de compresi√≥n. Puedes especificar un tipo de compresi√≥n expl√≠citamente, como `'gzip'` o `'bz2'`, si el archivo pickle est√° comprimido.

In [21]:
df_pkl = pd.read_pickle("../files/paises_capitales.pkl")
df_pkl

{'Colombia': 'Bogot√°', 'Ecuador': 'Quito', 'Argentina': 'Buenos'}

## loc e iloc (Indexaci√≥n en Pandas)

`loc` y `iloc` son m√©todos utilizados para acceder y manipular los datos en un DataFrame de Pandas. Ambos m√©todos se utilizan para la indexaci√≥n basada en etiquetas o *integer*s, respectivamente.

- `loc`: Se utiliza para acceder a los datos utilizando etiquetas de fila y columna. Permite seleccionar filas y columnas **bas√°ndose en sus nombres o etiquetas**. La sintaxis general para `loc` es `df.loc[filas, columnas]`, donde `filas` y `columnas` pueden ser una etiqueta √∫nica o una lista de etiquetas.

- `iloc`: Se utiliza para acceder a los datos utilizando √≠ndices *integer*s de fila y columna. Permite seleccionar filas y columnas **bas√°ndose en sus posiciones num√©ricas**. La sintaxis general para `iloc` es `df.iloc[filas, columnas]`, donde `filas` y `columnas` pueden ser un n√∫mero *integer* √∫nico o una lista de n√∫meros *integer*s.

La principal diferencia entre `loc` y `iloc` radica en c√≥mo se realiza la indexaci√≥n:
- `loc`: Utiliza etiquetas o nombres de filas y columnas para realizar la indexaci√≥n. Por ejemplo, `df.loc[3, 'A']` seleccionar√° el valor en la fila con etiqueta 3 y la columna con etiqueta 'A'.

- `iloc`: Utiliza √≠ndices *integers* basados en la posici√≥n para realizar la indexaci√≥n. Por ejemplo, `df.iloc[3, 0]` seleccionar√° el valor en la cuarta fila y primera columna (como siempre, el √≠ndice empieza en 0).

Adem√°s, `loc` incluye el l√≠mite superior en los rangos de selecci√≥n, mientras que `iloc` excluye el l√≠mite superior. Por ejemplo, `df.loc[1:3, 'A']` seleccionar√° las filas con etiquetas 1, 2 y 3, mientras que `df.iloc[1:3, 0]` seleccionar√° las filas con √≠ndices 1 y 2 (excluyendo el √≠ndice 3).

In [22]:
# importamos un nuevo fichero de datos para entender mejor estos conceptos
df = pd.read_csv("../files/data.csv", index_col=["Day"])
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

### Selecci√≥n a trav√©s de un √∫nico elemento
En este primer ejercicio vamos a intentar sacar el valor de 96, en concreto hace referencia a la humedad el martes. Recordemos que: 

- En el `loc` usaremos los nombres de las filas y las columnas (es como el juego de hundir la flota), corresponde a lo que tenemos en rojo en la imagen. 

- En el `iloc` usaremos los indices de las filas y las columnas, igual que hac√≠amos en las listas o los *arrays* de NumPy, corresponde con lo que vemos en verde en la imagen. 

![imagen](https://github.com/Adalab/data_imagenes/blob/main/Pandas/loc-iloc-explicacion_ej1.png?raw=true)

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'La humedad que hizo el martes usando el LOC es:  {df.loc["Tue", "Humidity"]}%')

# usando el iloc, accediendo por los √≠ndices, que empiezan en 0 como siempre en Python
print(f'La humedad que hizo el martes usando el ILOC es:  {df.iloc[1, 3]}%')

La humedad que hizo el martes usando el LOC es:  96%
La humedad que hizo el martes usando el ILOC es:  96%

Imaginemos que queremos sacar una fila en concreto pero todas las columnas o viceversa:

> En estos casos tendremos que usar `:`, esto √≠ndica que lo queremos todo. Es decir: 

```python
[filas-deseadas, :] # le estamos diciendo que nos busque por una fila dada y nos devuelva todas las columnas

[:, columna-deseada] # devuelvenos todas las filas de la columna que especifiquemos
```

Imaginemos ahora que queremos extraer toda la informaci√≥n clim√°tica del martes. En este caso, querremos de una fila concreta todas las columnas. 

![imagen2](https://github.com/Adalab/data_imagenes/blob/main/Pandas/loc-iloc-explicacion_ej2.png?raw=true)

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'Las condiciones clim√°ticas del martes usando el LOC es: \n  {df.loc["Tue", :]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'Las condiciones clim√°ticas del martes usando el ILOC es: \n  {df.iloc[1, :]}')

Las condiciones clim√°ticas del martes usando el LOC es:
  Weather        Sunny
Temperature    19.67
Wind              28
Humidity          96
Name: Tue, dtype: object

----------------------

Las condiciones clim√°ticas del martes usando el ILOC es:
  Weather        Sunny
Temperature    19.67
Wind              28
Humidity          96
Name: Tue, dtype: object

¬øY si ahora quisieramos extraer el viento que ha hecho durante la semana? En este caso querr√≠amos todas las filas y una sola columna. 

![imagen3](https://github.com/Adalab/data_imagenes/blob/main/Pandas/loc-iloc-explicacion_ej3.png?raw=true)

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'Las viento que hizo durante la semana usando el LOC es: \n  {df.loc[:, "Wind"]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'Las condiciones clim√°ticas del martes usando el ILOC es: \n  {df.iloc[:, 2]}')

Las viento que hizo durante la semana usando el LOC es:
  Day
Mon    13
Tue    28
Wed    16
Thu    11
Fri    26
Sat    27
Sun    20
Name: Wind, dtype: int64

----------------------

Las condiciones clim√°ticas del martes usando el ILOC es:
  Day
Mon    13
Tue    28
Wed    16
Thu    11
Fri    26
Sat    27
Sun    20
Name: Wind, dtype: int64

### Selecci√≥n a trav√©s de una lista de valores 

En este caso la sintaxis del `loc` y el `iloc` cambian un poco. Seguiremos usando los nombres de las filas y las columnas para el `loc` y los √≠ndices para el `iloc`, pero tendremos que a√±adir alg√∫n corchete m√°s. 

```python
[[fila_deseada1, fila_deseada2], :] # le estamos diciendo que nos busque por una fila dada y nos devuelva todas las columnas. FIJAOS COMO LO QUE HEMOS HECHO HA SIDO A√ëADIR UNOS CORCHETES M√ÅS DONDE INCLUIREMOS LOS NOMBRES DE LAS FILAS O COLUMNAS QUE QUERRAMOS SEPARADAS POR COMAS. Los ':' siguen indicando que queremo todas las columnas en este caso.

[:, [col_deseada1, col_deseada2]] # devuelvenos todas las filas de la columna que especifiquemos. FIJAOS COMO LO QUE HEMOS HECHO HA SIDO A√ëADIR UNOS CORCHETES M√ÅS DONDE INCLUIREMOS LOS NOMBRES DE LAS FILAS O COLUMNAS QUE QUERRAMOS SEPARADAS POR COMAS. Los ':' siguen indicando que queremos todas las filas.
```

Ahora queremos extraer la informaci√≥n del viento, pero ya no lo queremos para toda la semana, en realidad lo quiero para el martes y el domingo.

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El viento que hizo el martes y el domingo usando el LOC es: \n  {df.loc[["Tue", "Sat"], "Wind"]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'El viento que hizo el martes y el domingo  usando el ILOC es: \n  {df.iloc[[1, 5], 2]}')

El viento que hizo el martes y el domingo usando el LOC es:
  Day
Tue    28
Sat    27
Name: Wind, dtype: int64

----------------------

El viento que hizo el martes y el domingo  usando el ILOC es:
  Day
Tue    28
Sat    27
Name: Wind, dtype: int64

Imaginemos ahora que no queremos solo la informaci√≥n del viento para el martes y el domingo, sino que tambi√©n queremos la informaci√≥n de la temperatura.

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El viento y la temperatura que hizo el martes y el domingo usando el LOC es: \n  {df.loc[["Tue", "Sat"], ["Wind", "Temperature"]]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'El viento y la temperatura que hizo el martes y el domingo usando el ILOC es: \n  {df.iloc[[1, 5], [1,2]]}')

El viento y la temperatura que hizo el martes y el domingo usando el LOC es:
       Wind  Temperature
Day
Tue    28        19.67
Sat    27        11.07

----------------------

El viento y la temperatura que hizo el martes y el domingo usando el ILOC es:
       Temperature  Wind
Day
Tue        19.67    28
Sat        11.07    27

### Selecci√≥n de un rango de datos a trav√©s de un corte

En este caso podremos usar la sintaxis de `[start:stop:step]` que conocemos de listas.

In [ ]:
# lo primero que vamos a hacer es recordar el DataFrame
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

En este ejercicio vamos a querer sacar la temperatura, el viento y la humedad del martes y el viernes.

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f"El viento, la temperatura y la humedad que hizo el martes y el viernes usando el LOC es: \n  {df.loc[['Thu', 'Fri'], 'Temperature':'Humidity' ]}")

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es: \n  {df.iloc[[1, 5], 1:4]}')

El viento, la temperatura y la humedad que hizo el martes y el viernes usando el LOC es:
       Temperature  Wind  Humidity
Day
Thu        14.44    11        22
Fri        10.51    26        79

----------------------

El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es:
       Temperature  Wind  Humidity
Day
Tue        19.67    28        96
Sat        11.07    27        62

Y si quisieramos saber todas las condiciones clim√°ticas del lunes , mi√©rcoles y viernes? En este caso tendremos que hacer uso del `[start_ stop: step]`

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f"Las condiciones clim√°ticas que hicieron el lunes, mi√©rcoles y viernes usando el LOC es: \n  {df.loc['Mon':'Fri':2 , :]}")

print("\n----------------------\n")
# Usando el iloc, accediendo por los √≠ndices
print(f'El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es: \n  {df.iloc[0:6:2, :]}')

Las condiciones clim√°ticas que hicieron el lunes, mi√©rcoles y viernes usando el LOC es:
      Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Wed   Sunny        17.51    16        20
Fri  Shower        10.51    26        79

----------------------

El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es:
      Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Wed   Sunny        17.51    16        20
Fri  Shower        10.51    26        79

### Seleccionar basado en una condici√≥n 

Al igual que en NumPy podemos filtrar los datos de nuestro DataFrame usando operadores de comparaci√≥n,  como `>`, `<`, `>=`, `<=`, `==` o `!=`. Pero antes de ponernos a ver como filtrar datos, aprendamos ha acceder solo a una columna de nuestro DataFrame. Podr√≠amos pensar que lo podemos hacer con un `loc` o un `iloc` como hemos estado viendo hasta ahora, pero hay una forma un poco m√°s sencilla. Para eso deberemos seguir la siguiente sintaxis:

```python
df["nombre_columna"]
df.nombre_columna
# estas dos opciones me devuelven exactamente lo mismo. 
```

In [ ]:
# recordamos el DataFrame
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [ ]:
# accedemos a los datos de la columna 'Temperature'
# Fijaos como nos ha devuelto una serie donde tenemos todos los valores de la columna 'Temperature'
df["Temperature"]

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [ ]:
# El c√≥digo de arriba es exactamente igual que:
df.Temperature

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

¬øY que pasar√≠a si quisiera acceder a varias columnas? Solo podremos usar la sintaxis `df[["columna_1", "columna_2"]]`. Fijaos como ahora estamos a√±adiendo un corchete extra a la sintaxis que hemos aprendido en los pasos anteriores.

In [ ]:
df[["Temperature", "Wind"]]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16
Thu        14.44    11
Fri        10.51    26
Sat        11.07    27
Sun        17.50    20

Una vez que hemos visto esto como acceder a los datos de una o varias columnas unicamente, vamos a ver como podemos filtrar los datos del DataFrame, igual que hac√≠amos en los *arrays*. 

En este primer ejemplo, vamos a quedarnos con todos los datos donde la temperatura sea mayor que 12¬∫C. En este caso seguiremos la siguiente sintaxis: 

```python
df.loc[df["columna"] CONDICION]
```

In [ ]:
# filtramos nuestros datos para quedarnos solo con las filas donde la temperatura sean mayor que 12
df_mayor_12_1 = df.loc[df.Temperature > 12, :]
print(f"El resultado usando la sintaxis de DF.COLUMNA usando LOC es:\n {df_mayor_12_1}")

print("\n --------------- \n")

# la linea de arriba es exactamente la misma que esta que vemos aqu√≠ abajo
df_mayor_12_2 = df.loc[df["Temperature"] > 12, :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:\n {df_mayor_12_1}")

El resultado usando la sintaxis de DF.COLUMNA usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

In [ ]:
# ¬øy como lo har√≠amos con iloc? Se nos ocurrir√≠a que usando los corchetes, poniendo el √≠ndice de la columna que queremos usar como filtro. 
# veamoslo. 
df.iloc[df[1] > 12, :]

KeyError: 1

‚ö†Ô∏è Obtenemos el error porque `iloc` no puede aceptar una Serie booleana. S√≥lo acepta una lista booleana. Podemos utilizar la funci√≥n `list()` para convertir una Serie en una lista booleana. Por lo tanto, tendr√≠amos que:

In [ ]:
df.iloc[list(df.Temperature > 12), :]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

In [ ]:
# si juntamos todo lo aprendido de loc e iloc en las √∫ltimas celdas

# filtramos nuestros datos para quedarnos solo con las filas donde la temperatura sean mayor que 12
df_mayor_12_1 = df.loc[df.Temperature > 12, :]
print(f"El resultado usando la sintaxis de DF.COLUMNA usando LOC es:\n {df_mayor_12_1}")

print("\n --------------- \n")

# la linea de arriba es exactamente la misma que esta que vemos aqu√≠ abajo
df_mayor_12_2 = df.loc[df["Temperature"] > 12, :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:\n {df_mayor_12_1}")

print("\n --------------- \n")

# filtramos con ILOC
df_mayor_12_iloc = df.iloc[list(df.Temperature > 12), :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando ILOC es:\n {df_mayor_12_iloc}")

El resultado usando la sintaxis de DF.COLUMNA usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando ILOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

**¬øY si queremos que se cumplan varias condiciones?**

En este caso tendremos que usar los operadores & o |, como vimos en NumPy. Recordemos lo que significan: 

- `&`: es como el operador `and`. En este caso se tendr√°n que cumplir todas las condiciones que le pasemos. 


- `|`: es como el operador `or`. En este caso nos devolver√° datos de las condiciones que se cumplan, pero tienen porque cumplirse todas a la vez. O una condici√≥n y otra. 

En este ejercicio vamos a querer filtrar  los d√≠as de la semana que hab√≠a un viento mayor que 20 y que el tiempo era soleado ("Sunny")

In [ ]:
# Seleccionar aquellas filas donde se cumpla la condici√≥n de que el viento es mayor que 20 y el tiempo era soleado.
# adem√°s estamos especificando que nos devuelva solo las columnas de "Temperature" y " Wind"
# SE TIENEN QUE CUMPLIR LAS DOS CONDICIONES

# filtramos con LOC
df_dos_condiciones_loc = df.loc[(df.Wind > 20) & (df.Weather == 'Sunny'), :]

# filtramos con ILOC
df_dos_condiciones_iloc = df.iloc[list((df.Wind > 20) & (df.Weather == 'Sunny')), :]


print(f"El resultado usando LOC es:\n {df_dos_condiciones_loc}")

print("\n --------------- \n")

print(f"El resultado usando ILOC es:\n {df_dos_condiciones_iloc}")

El resultado usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96

 ---------------

El resultado usando ILOC es:
     Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96

**POR LO TANTO, LAS DIFERENCIAS ENTRE `LOC` E `ILOC` SON:**

|       | loc                                             | iloc                                                |
|-------|-------------------------------------------------|-----------------------------------------------------|
| Uso   | Acceso a datos utilizando etiquetas de √≠ndice    | Acceso a datos utilizando posiciones de √≠ndice       |
| √çndice| Puede utilizar etiquetas o slices de etiquetas   | Solo puede utilizar posiciones enteras o slices      |
| Filtrado | Permite filtrar filas y seleccionar columnas     | Permite filtrar filas y seleccionar columnas         |
| Sintaxis | Utiliza etiquetas separadas por comas           | Utiliza posiciones enteras separadas por comas       |
| Ejemplo | `df.loc[3:5, 'columna']`                        | `df.iloc[3:5, 2]`                                   |

## Creaci√≥n nuevas columnas

Como analistas de datos, podr√≠amos estar interesadas en crear nuevas columnas en nuestro DataFrame por varias razones:

1. **Transformaci√≥n de datos**: Al crear nuevas columnas, podemos aplicar transformaciones o c√°lculos a los datos existentes para obtener informaci√≥n adicional o modificar su representaci√≥n. Por ejemplo, podr√≠amos calcular porcentajes, ratios o aplicar funciones matem√°ticas o estad√≠sticas a las columnas existentes.

2. **Agregaci√≥n de datos**: Al crear nuevas columnas, podemos realizar agregaciones y res√∫menes de los datos existentes. Podemos agrupar los datos por ciertas variables y calcular sumas, promedios, m√°ximos, m√≠nimos u otras m√©tricas para cada grupo.

3. **Enriquecimiento de datos**: Podemos crear nuevas columnas utilizando datos externos o fuentes adicionales para enriquecer la informaci√≥n existente. Esto podr√≠a implicar fusionar DataFrames o realizar consultas a bases de datos para obtener informaci√≥n adicional que pueda ser relevante para nuestro an√°lisis.

4. **Ingenier√≠a de caracter√≠sticas**: La creaci√≥n de nuevas columnas puede ser √∫til en la ingenier√≠a de caracter√≠sticas, donde creamos variables predictivas o descriptivas adicionales para mejorar nuestros modelos o an√°lisis. Podemos extraer caracter√≠sticas relevantes de las columnas existentes o combinar diferentes variables para crear nuevas representaciones.

5. **Facilitar el an√°lisis y visualizaci√≥n**: Al crear nuevas columnas, podemos estructurar los datos de una manera que facilite el an√°lisis o la visualizaci√≥n. Podemos categorizar o binarizar variables continuas, crear columnas de fecha y hora a partir de datos de tiempo, o etiquetar datos utilizando condiciones o funciones de mapeo.

En Pandas, hay diversas formas de crear nuevas columnas, algunas de las m√°s importantes:

1. **Asignaci√≥n directa**: Podemos asignar una nueva columna utilizando una operaci√≥n o c√°lculo en base a las columnas existentes. Por ejemplo, podemos asignar una nueva columna "nueva_columna" que sea el resultado de sumar dos columnas existentes "columna1" y "columna2".


2. **M√©todo `assign()`:**  nos permite crear una nueva copia del DataFrame original con una o varias columnas nuevas agregadas. Podemos especificar el nombre de la nueva columna y proporcionar una expresi√≥n o funci√≥n para calcular los valores.


3. **M√©todo insert():** nos permite insertar una nueva columna en un DataFrame en una posici√≥n espec√≠fica, especificando el √≠ndice de la columna y los valores correspondientes.

In [ ]:
# antes de nada recordemos como es nuestro dataframe
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

### Asignaci√≥n directa

Supongamos que queremos tener la temperatura tambi√©n en grados Farenheit. Podr√≠amos crearnos una columna nueva aplicando una serie de operaciones sobre la que ya tenemos:

In [ ]:
# lo primero que hacemos es establecer el nombre de la nueva columna que queremos, y esto lo igualaremos a la operaci√≥n que queremos
# en este caso, todos los valores de la columna 'Temperature' multiplicados por 9/5 y a todo esto le sumamos 32
# lo que va a hacer es ir valor a valor (celda a celda) aplicando las operaciones que le hemos especificado. 

df["Farenheit"] = (df["Temperature"] * 9/5) + 32

# si ahora volvemos a ver nuestro dataframe tendremos una nueva columna
# con la temperatura convertida en Farenheit

df.head()

    Weather  Temperature  Wind  Humidity  Farenheit
Day
Mon   Sunny        12.79    13        30     55.022
Tue   Sunny        19.67    28        96     67.406
Wed   Sunny        17.51    16        20     63.518
Thu  Cloudy        14.44    11        22     57.992
Fri  Shower        10.51    26        79     50.918

### `.assign()`

Crea una nueva copia del DataFrame original con columnas adicionales agregadas. La sintaxis b√°sica del m√©todo `assign()` de Pandas es la siguiente:

```python
df_new = df.assign(nueva_columna=expresi√≥n)
```

- `df`: Es el DataFrame original al que queremos agregar la nueva columna.

- `nueva_columna`: Es el nombre que le asignamos a la nueva columna que queremos crear.

- `expresi√≥n`: Es la expresi√≥n o c√°lculo que utilizamos para generar los valores de la nueva columna.

Podemos asignar m√∫ltiples columnas separ√°ndolas por comas:

```python
df_new = df.assign(nueva_columna1=expresi√≥n1, nueva_columna2=expresi√≥n2)
```

In [ ]:
# creamos una nueva columna llamada `temp_f` que ser√° el resultado de la operaci√≥n que hemos explicado previamente
df.assign(temp_f=df['Temperature'] * 9 / 5 + 32)

    Weather  Temperature  Wind  Humidity  Farenheit  temp_f
Day
Mon   Sunny        12.79    13        30     55.022  55.022
Tue   Sunny        19.67    28        96     67.406  67.406
Wed   Sunny        17.51    16        20     63.518  63.518
Thu  Cloudy        14.44    11        22     57.992  57.992
Fri  Shower        10.51    26        79     50.918  50.918
Sat  Shower        11.07    27        62     51.926  51.926
Sun   Sunny        17.50    20        10     63.500  63.500

In [ ]:
# comprobamos que en el  DataFrame se ha creado. 
# Pero ... ¬øQu√© ha pasado? que nos la ha creado, pero no la ha guardado, para eso tendremos que sobreescribir el DataFrame
df = df.assign(temp_f=df['Temperature'] * 9 / 5 + 32)

# comprobamos de nuevo si la columna se ha creado
df

    Weather  Temperature  Wind  Humidity  Farenheit  temp_f
Day
Mon   Sunny        12.79    13        30     55.022  55.022
Tue   Sunny        19.67    28        96     67.406  67.406
Wed   Sunny        17.51    16        20     63.518  63.518
Thu  Cloudy        14.44    11        22     57.992  57.992
Fri  Shower        10.51    26        79     50.918  50.918
Sat  Shower        11.07    27        62     51.926  51.926
Sun   Sunny        17.50    20        10     63.500  63.500

### `insert()`

Crea una nueva copia del DataFrame original con columnas adicionales agregadas. La sintaxis b√°sica del m√©todo `insert()` es la siguiente:

```python
df.insert(loc, column, value, allow_duplicates=False)
```

- `loc`: Es la posici√≥n num√©rica en la que queremos insertar la columna. Puede ser un n√∫mero *integer* o una etiqueta.

- `column`: Es el nombre de la nueva columna que queremos insertar.

- `value`: Es el valor o valores que queremos asignar a la nueva columna. Puede ser un valor escalar, una lista o un array NumPy.

- `allow_duplicates` (opcional): Es un par√°metro *bool* que indica si se permiten columnas duplicadas en el DataFrame. El valor predeterminado es `False`.

In [ ]:
# en este ejemplo estamos creando una columna nueva que se llama "indice" en la primera columna con n√∫meros del 1 al 7. 

df.insert(0, "indice", range(1,8))

# comprobamos si la coolumna se ha creado correctamente
df

     indice Weather  Temperature  Wind  Humidity  Farenheit  temp_f
Day
Mon       1   Sunny        12.79    13        30     55.022  55.022
Tue       2   Sunny        19.67    28        96     67.406  67.406
Wed       3   Sunny        17.51    16        20     63.518  63.518
Thu       4  Cloudy        14.44    11        22     57.992  57.992
Fri       5  Shower        10.51    26        79     50.918  50.918
Sat       6  Shower        11.07    27        62     51.926  51.926
Sun       7   Sunny        17.50    20        10     63.500  63.500

In [ ]:
# ‚ö†Ô∏è Si volvieramos a crear otra colummna con el nombre de una columna ya existente nos dar√≠a error, 
# porque no podemos insertar dos columnas con el mismo nombre, ya que el par√°metro `allow_duplicates` esta puesto en False 

df.insert(0, "indice", range(1,8))

ValueError: cannot insert indice, already exists

# Ejercicios

A lo largo de todos los ejercicios de la clase invertida trabajaremos con un *csv* que contiene informaci√≥n de las ventas de un *e-commerce*. En concreto usaremos un DataFrame que se llama `rating-and-performance.csv`. Nos proporciona informaci√≥n detalladas de las caracter√≠sticas de cada producto, calificaciones, ventas, rese√±as y otras m√©tricas para que podamos comprender qu√© hace que un producto de verano tenga √©xito en Wish. Veamos en detalles sus columnas para entender mejor el conjuntos de datos: 


| Columna                      | Descripci√≥n                                                                                                    |
|------------------------------|----------------------------------------------------------------------------------------------------------------|
| title                        | El t√≠tulo del producto. (*object*)                                                                      |
| title_orig                   | El t√≠tulo original del producto. (*object*)                                                             |
| price                        | El precio del producto. (*float*)                                                                             |
| retail_price                 | El precio minorista original del producto. (*float*)                                                           |
| currency_buyer               | La moneda del comprador. (*object*)                                                                     |
| units_sold                   | El n√∫mero de unidades vendidas. (*integer*)                                                                       |
| uses_ad_boosts               | Un indicador de si el producto ha sido promovido mediante anuncios. (*bool*)                                  |
| rating                       | La calificaci√≥n del producto. (*float*)                                                                       |
| rating_count                 | El n√∫mero total de calificaciones para el producto. (*integer*)                                                    |
| rating_five_count            | El n√∫mero de calificaciones de cinco estrellas para el producto. (*integer*)                                       |
| rating_four_count            | El n√∫mero de calificaciones de cuatro estrellas para el producto. (*integer*)                                      |
| rating_three_count           | El n√∫mero de calificaciones de tres estrellas para el producto. (*integer*)                                        |
| rating_two_count             | El n√∫mero de calificaciones de dos estrellas para el producto. (*integer*)                                         |
| rating_one_count             | El n√∫mero de calificaciones de una estrella para el producto. (*integer*)                                          |
| badges_count                 | El n√∫mero de insignias asociadas al producto. (*integer*)                                                          |
| badge_local_product          | Un indicador de si el producto es local. (*bool*)                                                             |
| badge_product_quality        | Un indicador de si el producto tiene una insignia de calidad. (*bool*)                                        |
| badge_fast_shipping          | Un indicador de si el producto tiene una insignia de env√≠o r√°pido. (*bool*)                                   |
| tags                         | Las etiquetas asociadas al producto. (*object*)                                                         |
| product_color                | El color del producto. (*object*)                                                                       |
| product_variation_inventory  | El inventario de la variaci√≥n del producto. (*integer*)                                                           |
| shipping_option_name         | El nombre de la opci√≥n de env√≠o. (*object*)                                                             |
| shipping_option_price        | El precio de la opci√≥n de env√≠o. (*float*)                                                                    |
| shipping_is_express          | Un indicador de si la opci√≥n de env√≠o es express. (*bool*)                                                    |
| countries_shipped_to         | Los pa√≠ses a los que se env√≠a el producto. (*object*)                                                   |
| inventory_total              | El inventario total del producto. (*integer*)                                                                     |
| has_urgency_banner           | Un indicador de si el producto tiene un banner de urgencia. (*bool*)                                          |
| urgency_text                 | El texto del banner de urgencia. (*object*)                                                             |
| origin_country               | El pa√≠s de origen del producto. (*object*)                                                              |
| merchant_title               | El t√≠tulo del comerciante. (*object*)                                                                   |
| merchant_name                | El nombre del comerciante. (*object*)                                                                   |
| merchant_info_subtitle       | El subt√≠tulo del comerciante. (*object*)                                                                |
| merchant_rating_count        | El n√∫mero total de calificaciones para el comerciante. (*integer*)                                                 |
| merchant_has_profile_picture | Un indicador de si el comerciante tiene una imagen de perfil. (*bool*)                                       |
| merchant_profile_picture     | La imagen de perfil del comerciante. (*object*)                                                         |
| product_url                  | La URL del producto. (*object*)                                                                         |
| product_picture              | La imagen del producto. (*object*)                                                                      |
| theme                        | El tema del producto. (*object*)                                                                        |
| crawl_month                  | El mes en que se obtuvo el producto. (*object*)                                                         |


Para seguir pr√°cticando con Pandas os planteamos los siguientes ejercicios: 

1- Abre el fichero de `rating-and-performance` con el m√©todo que sea m√°s correcto. Adem√°s muestra las 5 primeras filas del *DataFrame*. 

2- Pongamos en pr√°ctica el `loc` e `iloc`:

  - Usando el `loc`: 

      - Extraed todas las filas de la columna "price". ¬øDe qu√© tipo es el resultado obtenido?

      - Extraed todas las filas de las columnas "price" y "retail_price". ¬øDe qu√© tipo es el resultado obtenido?

      - Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count". 

    - Extraed las las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000. 

  - Usando el `iloc` (sacaremos los mismos resultados que con el loc): 

    - Extraed todas las filas de la columna "price". 

    - Extraed todas las filas de las columnas "price" y "retail_price". 

    - Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count". 

3- Cread una nueva columna donde tengamos la diferencia entre el precio al que vende el e-commerce menos el precio del minorista. Insertad esta columna en la posici√≥n dos.