<h1>Tabla de Contenidos<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduccion-a-Pandas" data-toc-modified-id="Introduccion-a-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduccion a Pandas</a></span></li><li><span><a href="#Series-de-Pandas" data-toc-modified-id="Series-de-Pandas-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series de Pandas</a></span><ul class="toc-item"><li><span><a href="#¿Qué-es-una-Serie?" data-toc-modified-id="¿Qué-es-una-Serie?-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>¿Qué es una Serie?</a></span></li><li><span><a href="#Creación-de-Series" data-toc-modified-id="Creación-de-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Creación de Series</a></span></li><li><span><a href="#Propiedades-de-las-Series" data-toc-modified-id="Propiedades-de-las-Series-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Propiedades de las Series</a></span></li><li><span><a href="#Indexación-de-las-Series" data-toc-modified-id="Indexación-de-las-Series-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Indexación de las Series</a></span></li></ul></li><li><span><a href="#DataFrames-en-Pandas" data-toc-modified-id="DataFrames-en-Pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>DataFrames en Pandas</a></span><ul class="toc-item"><li><span><a href="#¿Qué-es-un-DataFrame?" data-toc-modified-id="¿Qué-es-un-DataFrame?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>¿Qué es un DataFrame?</a></span></li><li><span><a href="#Creación-de-DataFrames" data-toc-modified-id="Creación-de-DataFrames-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Creación de DataFrames</a></span></li><li><span><a href="#Apertura-de-ficheros-en-Pandas" data-toc-modified-id="Apertura-de-ficheros-en-Pandas-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Apertura de ficheros en Pandas</a></span></li><li><span><a href="#pd.read_csv()" data-toc-modified-id="pd.read_csv()-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span><code>pd.read_csv()</code></a></span></li><li><span><a href="#pd.read_excel()" data-toc-modified-id="pd.read_excel()-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span><code>pd.read_excel()</code></a></span></li><li><span><a href="#pd.read_json()" data-toc-modified-id="pd.read_json()-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span><code>pd.read_json()</code></a></span></li><li><span><a href="#pd.read_pickle" data-toc-modified-id="pd.read_pickle-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span><code>pd.read_pickle</code></a></span></li><li><span><a href="#loc-e-iloc-(Indexación-en-Pandas)" data-toc-modified-id="loc-e-iloc-(Indexación-en-Pandas)-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>loc e iloc (Indexación en Pandas)</a></span><ul class="toc-item"><li><span><a href="#Selección-a-través-de-un-único-elemento" data-toc-modified-id="Selección-a-través-de-un-único-elemento-3.8.1"><span class="toc-item-num">3.8.1&nbsp;&nbsp;</span>Selección a través de un único elemento</a></span></li><li><span><a href="#Selección-a-través-de-una-lista-de-valores" data-toc-modified-id="Selección-a-través-de-una-lista-de-valores-3.8.2"><span class="toc-item-num">3.8.2&nbsp;&nbsp;</span>Selección a través de una lista de valores</a></span></li><li><span><a href="#Selección-de-un-rango-de-datos-a-través-de-un-corte" data-toc-modified-id="Selección-de-un-rango-de-datos-a-través-de-un-corte-3.8.3"><span class="toc-item-num">3.8.3&nbsp;&nbsp;</span>Selección de un rango de datos a través de un corte</a></span></li><li><span><a href="#Seleccionar-basado-en-una-condición" data-toc-modified-id="Seleccionar-basado-en-una-condición-3.8.4"><span class="toc-item-num">3.8.4&nbsp;&nbsp;</span>Seleccionar basado en una condición</a></span></li></ul></li><li><span><a href="#Creación-nuevas-columnas" data-toc-modified-id="Creación-nuevas-columnas-3.9"><span class="toc-item-num">3.9&nbsp;&nbsp;</span>Creación nuevas columnas</a></span><ul class="toc-item"><li><span><a href="#Asignación-directa" data-toc-modified-id="Asignación-directa-3.9.1"><span class="toc-item-num">3.9.1&nbsp;&nbsp;</span>Asignación directa</a></span></li><li><span><a href="#.assign()" data-toc-modified-id=".assign()-3.9.2"><span class="toc-item-num">3.9.2&nbsp;&nbsp;</span><code>.assign()</code></a></span></li><li><span><a href="#insert()" data-toc-modified-id="insert()-3.9.3"><span class="toc-item-num">3.9.3&nbsp;&nbsp;</span><code>insert()</code></a></span></li></ul></li></ul></li><li><span><a href="#Ejercicios" data-toc-modified-id="Ejercicios-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Ejercicios</a></span></li></ul></div>

# Introduccion a Pandas

Al inicio del módulo 2 ya hablamos de Pandas, y dijimos que era una de las librerías con las que más ibamos a usar a lo largo del curso. Como dijimos, Pandas es una biblioteca de Python especializada en el manejo y análisis de estructuras de datos. Algunas de las principales características de Pandas son:

- Define nuevas estructuras de datos basadas en los *arrays* de la biblioteca NumPy, pero con funcionalidades adicionales. Esto significa que puedes aprovechar las capacidades de NumPy y agregar nuevas funcionalidades específicas para el análisis de datos.

- Permite leer y escribir fácilmente archivos en formatos comunes como CSV, Excel y bases de datos SQL, lo que facilita la importación y exportación de datos desde y hacia diferentes fuentes.

- Permite acceder a los datos mediante índices o nombres para filas y columnas. Esto significa que puedes acceder a los datos utilizando etiquetas en lugar de solo posiciones numéricas, lo cual es especialmente útil cuando los datos están etiquetados o indexados de manera significativa.

- Ofrece métodos para reordenar, dividir y combinar conjuntos de datos. Puedes realizar operaciones como clasificación, filtrado y combinación de datos para obtener resultados específicos o realizar análisis más avanzados.

- Permite trabajar con series temporales, lo que facilita el análisis y manipulación de datos que están organizados en función del tiempo, como series de tiempo financieras o datos de sensores recopilados a intervalos regulares.

- Realiza todas estas operaciones de manera muy eficiente. Pandas está diseñado para manejar eficientemente grandes volúmenes de datos y proporciona herramientas optimizadas para realizar operaciones en memoria y en paralelo.

En cuanto a las estructuras de datos en Pandas, existen tres principales:

1. `Series`: Representa una estructura de datos unidimensional similar a un array o una columna en una tabla. Cada elemento en una Serie tiene un índice asociado que permite acceder a los datos de forma individual.

2. `DataFrame`: Representa una estructura de datos bidimensional similar a una tabla de una base de datos o una hoja de cálculo de Excel. Consiste en una colección de Series organizadas en columnas. Los DataFrames son especialmente útiles para el análisis de datos tabulares y ofrecen una gran cantidad de funcionalidades para manipular y analizar los datos.

3. `Panel`: Representa una estructura de datos tridimensional, aunque su uso no es tan común como las Series y los DataFrames. Puede considerarse como una colección de DataFrames.

In [1]:
# importamos la pandas para poder trabajar en la lección
import pandas as pd

# Series de Pandas

## ¿Qué es una Serie?


Como hemos dicho, una Serie es una estructura de datos unidimensional en Pandas. Se puede pensar en una Serie como una columna en una tabla  con etiquetas de índice. Cada elemento en una Serie tiene un índice asociado que permite acceder a los datos de forma individual.

Las Series en Pandas tienen las siguientes características:

1. **Datos homogéneos**: Una Serie contiene datos de **un solo tipo**, como *integer*s, *float*s, *strings*, etc. 

2. **Índices etiquetados**: Cada elemento en una Serie tiene una etiqueta de índice asociada. Los índices pueden ser etiquetas personalizadas o valores numéricos generados automáticamente. Estas etiquetas permiten un acceso más intuitivo a los datos en lugar de depender solo de las posiciones numéricas.

3. **Funcionalidades adicionales**: Las Series en Pandas proporcionan numerosas funcionalidades para manipular y analizar datos de manera eficiente. Puedes realizar operaciones matemáticas, filtrado de datos, agregación, ordenamiento, alineación de datos, entre otras.

Es importante destacar que las Series y los DataFrames son los elementos fundamentales en el ecosistema de Pandas, y muchas operaciones de análisis de datos se realizan utilizando estas estructuras de datos.


## Creación de Series

Podemos crear Series de distintas formas: 

- Series vacías

- Series a partir de un *array*. Recordamos, las Series son unidimensionales, por lo tanto solo le podremos pasar *arrays* unidimensionales

- Series a partir de listas

- Series a partir de un diccionario

**Serie vacía**

In [2]:
# creemos algunas Series en Pandas para entenderlas mejor.
# en este primer ejemplo crearemos una Serie vacía
serie_vacia = pd.Series()
serie_vacia

Series([], dtype: object)

**Serie a partir de listas**

In [3]:
# esta Serie esta bien, pero en realidad por lo general querremos tener Series con datos
# creemos ahora una serie a partir de una lista

# definimos la lista
lista = [23,45,17,83, 67]

# convertimos esta lista en una Serie
serie_lista1 = pd.Series(lista)
serie_lista1

0    23
1    45
2    17
3    83
4    67
dtype: int64

📌 Si nos fijamos el método `pd.Series` nos va a generar automáticamente el índice y lo crea con números consecutivos, empezando por el 0. Sin embargo, también le podemos pasar los índices que queramos usando el parámetro `index`. 

> index: Es un parámetro opcional de la función `pd.Series`. En este caso, se proporciona una lista de índices personalizados para la Serie. Los índices indican cómo se etiquetarán los elementos de la Serie. En este ejemplo, los índices se definen en el orden especificado: 3, 4, 5, 6, 7, 8, 9, 1, 2.

Tener índices personalizados puede ser útil cuando necesitamos acceder a los elementos de la Serie utilizando etiquetas específicas en lugar de las posiciones numéricas predeterminadas. Esto facilita la manipulación y el análisis de los datos en la Serie. 

Es importante destacar que los índices pueden ser de diferentes tipos, incluidos *integer*s, cadenas, fechas, etc. Además, los índices no necesariamente tienen que estar en orden o ser consecutivos. Esto proporciona una gran flexibilidad en el uso de las Series en Pandas.

In [4]:
# vamos a definir una nueva serie pero en este caso vamos a ponerle nuestro propio índice usando el parámetro 'index'
serie_lista2 = pd.Series(lista, index = [3,4,5,6,7])
serie_lista2

3    23
4    45
5    17
6    83
7    67
dtype: int64

In [5]:
# como hemos mencionado los índices pueden ser de distintos tipos, en este caso crearemos una nueva Serie donde sus índices sean strings
serie_lista3 = pd.Series(lista, index = ["Lunes","Martes","Miercoles","Jueves","Viernes"])
serie_lista3

Lunes        23
Martes       45
Miercoles    17
Jueves       83
Viernes      67
dtype: int64

**Series a partir de diccionarios**

In [6]:
# definir un diccionario 
dicc = {'lorena' : 10, 
        'marta' : 20, 
        'pilar' : 30, 
        'laura': 50, 
       'ana': 86, 
        'maria': 28} 

# crear una serie nueva a partir del diccionario definido previamente
serie_diccionario = pd.Series(dicc)
serie_diccionario

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

## Propiedades de las Series

Las propiedades son atributos específicos que nos proporcionan información sobre las características de una Serie en particular. ALas propiedades más importantes de las Series en Pandas:

1. **values**: Esta propiedad devuelve los valores de la Serie como un array NumPy. Puedes acceder a ellos utilizando la sintaxis `serie.values`.

2. **index**: Esta propiedad devuelve los índices de la Serie. Los índices pueden ser de cualquier tipo, incluyendo *integer*s, cadenas u otros objetos. Puedes acceder a ellos utilizando la sintaxis `serie.index`.

3. **dtype**: Esta propiedad devuelve el tipo de datos de los elementos en la Serie. Puedes acceder a él utilizando la sintaxis `serie.dtype`. Los tipos de datos comunes incluyen `int64`, `float64`, `object`, `datetime64`, entre otros.

4. **size**: Esta propiedad devuelve el número total de elementos en la Serie. Puedes acceder a él utilizando la sintaxis `serie.size`.

5. **shape**: Esta propiedad devuelve una tupla que representa la forma (dimensiones) de la Serie. En el caso de una Serie unidimensional, la forma será `(n,)`, donde `n` es el número de elementos en la Serie. Puedes acceder a él utilizando la sintaxis `serie.shape`.

Estas propiedades son útiles para obtener información sobre una Serie en particular, como el tipo de datos, el número de elementos y los índices asociados. Además, las propiedades pueden ser utilizadas en conjunto con los métodos y funciones de Pandas para realizar operaciones y análisis más avanzados en los datos de la Serie.

Es importante tener en cuenta que las Series son inmutables, lo que significa que no puedes cambiar sus elementos directamente. Sin embargo, puedes realizar operaciones y manipulaciones en las Series para obtener nuevos resultados o modificar la estructura de los datos en función de tus necesidades.

In [7]:
# recordemos la serie
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# utilizamos el método index que nos va a devolver todos los índices 
# fijaos como en este caso nos ha devuelto todos los índices de nuestra Serie, es decir, los nombres de las alumnas
print(f"El método 'index' nos devuelve los índices de la Serie: {serie_diccionario.index}")
print("---------------------------")

# ahora utilizamos el método 'values' nos devuelve todos los valores de la Serie
# en este caso los números que teníamos
print(f"El método 'values' nos devuelve los valores de la Serie: {serie_diccionario.values}")
print("---------------------------")

#utilizando el método 'shape' nos devuelve el número de "filas" que tenemos en la Serie
print(f"El método 'shape' nos devuelve la forma de la Serie: {serie_diccionario.shape}")
print("---------------------------")

#utilizando el método 'size' nos devuelve el número de elementos que tenemos en la Serie
print(f"El método 'size' nos devuelve el número de elementos de la Serie: {serie_diccionario.size}")
print("---------------------------")

#utilizando el método 'dtypes' nos devuelve el tipo de datos de la Serie
print(f"El método 'dtypes' nos devuelve el tipo de datos de la Serie: {serie_diccionario.dtypes}")

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
El método 'index' nos devuelve los índices de la Serie: Index(['lorena', 'marta', 'pilar', 'laura', 'ana', 'maria'], dtype='object')
---------------------------
El método 'values' nos devuelve los valores de la Serie: [10 20 30 50 86 28]
---------------------------
El método 'shape' nos devuelve la forma de la Serie: (6,)
---------------------------
El método 'size' nos devuelve el número de elementos de la Serie: 6
---------------------------
El método 'dtypes' nos devuelve el tipo de datos de la Serie: int64

## Indexación de las Series

La indexación se refiere a la forma en que accedemos a los elementos de una Serie utilizando índices o etiquetas. Pandas ofrece varias opciones para indexar y seleccionar elementos en una Serie. Algunas de las principales formas de realizar la indexación en las Series son:

1. **Indexación por posición**: Podemos acceder a los elementos de una Serie utilizando la posición numérica del elemento en la Serie, como hacíamos con las listas

2. **Indexación por etiqueta**: Podemos acceder a los elementos de una Serie utilizando las etiquetas de índice asociadas a cada elemento. 

3. **Indexación por rango**: Podemos acceder a un rango de elementos de una Serie utilizando los índices de inicio y fin. 

4. **Indexación por lista de índices**: Podemos acceder a varios elementos de una Serie utilizando una lista de índices.

 **Indexación por posición**

In [8]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos al primer elemento (10). 🚨 Fijaos como los índices son como los de las listas, empiezan en 0
print("El valor que está en posición 0 es:", serie_diccionario[0])  
print("---------------------------")

# accedemos al tercer elemento (30)
print("El valor que está en posición 2 es:", serie_diccionario[2])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
El valor que está en posición 0 es: 10
---------------------------
El valor que está en posición 2 es: 30

/tmp/ipykernel_23697/1694459340.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("El valor que está en posición 0 es:", serie_diccionario[0])
/tmp/ipykernel_23697/1694459340.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("El valor que está en posición 2 es:", serie_diccionario[2])

**Indexación por etiqueta**

In [9]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")


# accedemos al valor de la etiqueta de "laura" (50). 🚨 Esto lo podríamos comparar con los diccionarios
print("El valor que está en posición 0 es:", serie_diccionario["laura"])  
print("---------------------------")

# accedemos al valor de la etiqueta de "pilar" (30). 
print("El valor que está en posición 2 es:", serie_diccionario["pilar"])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
El valor que está en posición 0 es: 50
---------------------------
El valor que está en posición 2 es: 30

**Indexación por rango**:

In [10]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# accedemos a los elementos desde el índice 1 al 3 ([30, 50]). 🚨 De niuevo fijaos como esto funciona igual que en listas
# nos esta incluyendo el valor que está en el índice 1, pero no el que está en el índice 4
print("Los valores de los índices que están entre las posiciones 1 y 3 (incluida) es: \n", serie_diccionario[1:4])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
Los valores de los índices que están entre las posiciones 1 y 3 (incluida) es:
 marta    20
pilar    30
laura    50
dtype: int64

**Indexación por lista de índices**

In [11]:
display("La serie con la que vamos a trabajar es:", serie_diccionario)
print("---------------------------")

# Acceder a los elementos con índices 1, 3 y 4. 🚨 Fijaos como en este caso, le hemos puesto dos corchetes
print("Los valores de los índices que están en las posiciones 1,3, y 4 son: \n", serie_diccionario[[0,2,3]])

'La serie con la que vamos a trabajar es:'

lorena    10
marta     20
pilar     30
laura     50
ana       86
maria     28
dtype: int64

---------------------------
Los valores de los índices que están en las posiciones 1,3, y 4 son:
 lorena    10
pilar     30
laura     50
dtype: int64

/tmp/ipykernel_23697/3366552553.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Los valores de los índices que están en las posiciones 1,3, y 4 son: \n", serie_diccionario[[0,2,3]])

# DataFrames en Pandas

## ¿Qué es un DataFrame?

En el módulo anterior ya habíamos hablado un poco de los DataFrames de Pandas y habíamos hablado de que son. Sin embargo recordemos un poco de ellos y profundizemos un poco más en sus características. Un **DataFrame** es una estructura de datos bidimensional en forma de tabla, similar a una hoja de cálculo o una base de datos relacional. Es una de las estructuras de datos más utilizadas en el análisis de datos con Pandas.

Las principales características de los DataFrames son:

1. **Estructura tabular**: Los DataFrames están organizados en filas y columnas. Cada columna representa una variable o característica, y cada fila representa una observación o entrada de datos. Esto facilita la visualización y el manejo de los datos en forma tabular.

2. **Flexibilidad**: Al contrario que las Series, los DataFrames pueden contener datos de diferentes tipos, como *integer*s, *float*s, cadenas, fechas, *bool*s, entre otros. Además, las columnas pueden tener nombres personalizados y los índices pueden ser etiquetados con valores personalizados.

3. **Operaciones eficientes**: Los DataFrames en Pandas están diseñados para realizar operaciones eficientes en grandes conjuntos de datos. Ofrecen una amplia gama de funciones y métodos para manipular y analizar datos de manera rápida y eficiente.

4. **Facilidad de importación y exportación**: Los DataFrames pueden leer y escribir datos en diversos formatos, como CSV, Excel, archivos de texto, bases de datos SQL, JSON, entre otros. Esto facilita la importación y exportación de datos desde y hacia diferentes fuentes de datos.

5. **Indexación flexible**: Los DataFrames permiten acceder y manipular los datos utilizando diversas técnicas de indexación, como indexación por posición, indexación por etiqueta, indexación booleana y más. Esto permite seleccionar y filtrar datos de manera precisa y eficiente.

## Creación de DataFrames

En Pandas, podemos crear DataFrames a partir de una variedad de fuentes de datos. Aquí tienes algunos ejemplos de cómo crear DataFrames utilizando diferentes métodos en Pandas:

1. **A partir de un diccionario de listas**: Podemos crear un DataFrame a partir de un diccionario de listas, donde cada clave representa una columna y cada valor es una lista representa los valores de esa columna. 

2. **A partir de una lista de diccionarios**: Podemos crear un DataFrame a partir de una lista de diccionarios, donde cada diccionario representa una fila y las claves del diccionario representan las columnas.

**A partir de un diccionario de listas**

In [12]:
# definimos un diccionario que luego convertiremos a DataFrame. Recordemos que esta era la forma que utilizamos en las lecciones del módulo 2 de web scraping
data_diccionario = {
    'Nombre': ['Ana', 'Juan', 'María', 'Pedro'],
    'Edad': [25, 30, 28, 35],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# convertimos el diccionario en DataFrame usando el método 'pd.DataFrame'
df_diccionario = pd.DataFrame(data_diccionario)

# mostramos el DataFrame. Recordad que para ver las 5 primeras filas usaremos el método '.head()' 
df_diccionario.head()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla

**A partir de una lista de diccionarios**

In [13]:
# definimos una lista de diccionarios que luego usaremos para convertir en DataFrame
data_lista = [
    {'Nombre': 'Ana', 'Edad': 25, 'Ciudad': 'Madrid'},
    {'Nombre': 'Juan', 'Edad': 30, 'Ciudad': 'Barcelona'},
    {'Nombre': 'María', 'Edad': 28, 'Ciudad': 'Valencia'},
    {'Nombre': 'Pedro', 'Edad': 35, 'Ciudad': 'Sevilla'}
]

# usamos el método 'pd.DataFrame' para convertir la lista de diccionarios a DataFrame
df_lista = pd.DataFrame(data_lista)

# mostramos el DataFrame, en este caso usaremos el método '.tail()' para mostrar las últimas 5 filas. 
df_lista.tail()

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Juan    30  Barcelona
2  María    28   Valencia
3  Pedro    35    Sevilla

## Apertura de ficheros en Pandas

En Pandas hay varios métodos disponibles para abrir distintos tipos de archivos. Algunos de los métodos más comunes para leer diferentes tipos de archivos en Pandas son los siguientes::

1. `pd.read_csv`.

2. `pd.read_excel`

3. `pd.read_json`

4. `pd.read_pickle`

## `pd.read_csv()`

La sintaxis básica de `pd.read_csv` es la siguiente:

```python
pd.read_csv(ruta_al_fichero , sep=',', delimiter=None, header='infer', names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo CSV que deseas leer.

- `sep` (opcional): Es el separador utilizado en el archivo CSV para separar los valores. Por defecto, es una coma (',').

- `delimiter` (opcional): Es un alias para `sep`. Puedes usar `delimiter` en lugar de `sep` si prefieres.

- `header` (opcional): Indica la fila del archivo CSV que se utilizará como encabezado de columnas. Puede tener los siguientes valores:
  - `None`: No hay encabezado y los datos se leerán sin nombres de columna.
  - `'infer'`: Intentará inferir automáticamente los nombres de columna del archivo.
  - Un número *integer* que especifica la fila del archivo que se utilizará como encabezado de columna (por ejemplo, `header=0`).


- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazará los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizará como índice del DataFrame resultante. Puede ser un número *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Estos son solo algunos de los parámetros más comunes utilizados en `pd.read_csv`. La función `pd.read_csv` también admite muchos otros parámetros, como `skiprows`, `na_values`, `parse_dates` y más. Siempre podemos consultar la documentación oficial de este método [aquí](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) para obtener información más detallada sobre estos parámetros y sus opciones.

In [15]:
df_jobs = pd.read_csv("../files/jobs.csv")
df_jobs.head(1)

,id,title,country,location,company,date,description,company_link,experience,keywords
0,1,Frontend Developer,mexico,"Hacienda San Pablo, México, Mexico",Vox Feed,2019-08-18,Passion for building interfaces that bring the...,NaN,2,web developer

Como la propia definición indica, nuestras columnas deben ir separadas por comas. A veces, puede ocurrir que no vengan separados por comas. Como en el ejemplo que vemos a continuación:

In [16]:
df_aire = pd.read_csv("../files/aire.csv")
df_aire.head(1)

  provincia;municipio;estacion;magnitud;punto_muestreo;ano;mes;dia;h01;v01;h02;v02;h03;v03;h04;v04;h05;v05;h06;v06;h07;v07;h08;v08;h09;v09;h10;v10;h11;v11;h12;v12;h13;v13;h14;v14;h15;v15;h16;v16;h17;v17;h18;v18;h19;v19;h20;v20;h21;v21;h22;v22;h23;v23;h24;v24
0  28;102;1;1;28102001_1_38;2022;1;30;3;T;3;T;3;T...

Oh oh... Algo ha salido mal... Si nos fijamos nuestras columnas están separadas por `;`. ¿Cómo podemos solucionar esto? 

> Usando el parámetro `sep` de `pd.read_csv` donde tendremos que especificar por qué están separadas mis columnas.

In [17]:
df_aire = pd.read_csv("../files/aire.csv", sep = ";")
df_aire.head(1)

,provincia,municipio,estacion,magnitud,punto_muestreo,ano,mes,dia,h01,v01,...,h20,v20,h21,v21,h22,v22,h23,v23,h24,v24
0,28,102,1,1,28102001_1_38,2022,1,30,3.0,T,...,NaN,N,NaN,N,NaN,N,NaN,N,NaN,N

## `pd.read_excel()`

La sintaxis básica de `pd.read_excel` es la siguiente:

```python
pd.read_excel(ruta_al_fichero, sheet_name=0, header=0, names=None, index_col=None, dtype=None)
```

Donde:
- `ruta_al_fichero`:  Es el nombre del archivo o la ruta de Excel que deseas leer. 

- `sheet_name` (opcional): Indica la hoja o hojas del archivo Excel que deseas leer. Puede tener los siguientes valores:

  - Un número *integer* que especifica el índice de la hoja (por ejemplo, `sheet_name=0` para la primera hoja).

  - Un nombre de hoja como una cadena (por ejemplo, `sheet_name='Sheet1'`).

  - Una lista de nombres de hojas para leer varias hojas (por ejemplo, `sheet_name=['Sheet1', 'Sheet2']`).

- `header` (opcional): Idica la fila del archivo Excel que se utilizará como encabezado de columnas. Puede tener los siguientes valores:

  - `None`: No hay encabezado y los datos se leerán sin nombres de columna.

  - Un número *integer* que especifica la fila del archivo que se utilizará como encabezado de columna (por ejemplo, `header=0`).

- `names` (opcional): Es una lista opcional de nombres para las columnas. Si se proporciona, reemplazará los nombres inferidos o los nombres de columna del archivo.

- `index_col` (opcional): Especifica la columna (o columnas) que se utilizará como índice del DataFrame resultante. Puede ser un número *integer*, una cadena con el nombre de la columna o una lista de columnas.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

Además de estos parámetros, `pd.read_excel` también admite otros parámetros opcionales, como `skiprows`, `na_values`, `usecols` y más. Estos parámetros nos permiten personalizar aún más la lectura de archivos Excel según tus necesidades. Al igual que en el método `pd.read_csv()`, podemos  consultar la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) para obtener información más detallada sobre estos parámetros y sus opciones.

In [18]:
df_xlsx = pd.read_excel("../files/espacios_protegidos.xlsx", sheet_name=0)
df_xlsx.head()

,espacio_prot_categoria,espacio_prot_figura,espacio_prot_nombre,espacio_prot_superficie_ha,espacio_prot_fecha_declaracion,espacio_prot_normativa,espacio_prot_informacion_web
0,Áreas protegidas por instrumentos internacionales,Reserva de la Biosfera,"Cuencas Altas de los ríos Manzanares, Lozoya y...",105655.000,1992-11-09,Normativa Áreas protegidas por instrumentos in...,Reserva de la Biosfera Cuencas Altas de los rí...
1,Áreas protegidas por instrumentos internacionales,Reserva de la Biosfera,Sierra del Rincón,15231.000,2005-06-29,Normativa Áreas protegidas por instrumentos in...,Reserva de la Biosfera Sierra del Rincón
2,Áreas protegidas por instrumentos internacionales,Humedal de Importancia Internacional (RAMSAR),Humedales del Macizo de Peñalara,487.198,2005-12-16,Normativa Áreas protegidas por instrumentos in...,Humedales Ramsar
3,Espacios Protegidos Red Natura 2000,Zona de Especial Protección para las Aves,Monte de El Pardo,15298.670,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000
4,Espacios Protegidos Red Natura 2000,Zona de Especial Protección para las Aves,Soto de Viñuelas,3071.890,1988-02-01,Normativa Espacios Protegidos Red Natura 2000,Espacios protegidos Red Natura 2000

🚨⚠️ **NOTA** Puede que al ejecutar este línea de código os salga el siguiente error: 

![error](https://github.com/Adalab/data_imagenes/blob/main/Pandas/error_excel.png?raw=true)

**DON'T PANIC!!!** Lo único que tendreís que hacer es importaros `openpyxl`. ¿Cómo? 

- Nos vamos a la terminal y ejecutamos el siguiente código: 

```
pip3 install openpyxl
```

o 

```
pip install openpyxl
```

## `pd.read_json()`

La sintaxis básica de `pd.read_json` es la siguiente:

```python
pd.read_json(ruta_al_fichero, orient=None, typ='frame', dtype=True, convert_axes=True, convert_dates=True, keep_default_dates=True, numpy=False, precise_float=False, date_unit=None, encoding=None, lines=False)
```

Donde:
- `ruta_al_fichero`: Es la ruta del archivo JSON que deseas leer.

- `orient` (opcional): Especifica la orientación del archivo JSON. Puede tener los siguientes valores:

  - `'columns'` (por defecto): Se espera que el archivo JSON tenga un formato de columna.

  - `'index'`: Se espera que el archivo JSON tenga un formato de índice.

  - `'records'`: Se espera que el archivo JSON tenga un formato de registros.

  - `'split'`: Se espera que el archivo JSON tenga un formato dividido.

  - `'values'`: Se espera que el archivo JSON contenga solo valores sin ninguna etiqueta de columna o índice.

- `typ` (opcional): Indica el tipo de objeto a crear. Puede tener los siguientes valores:

  - `'frame'` (por defecto): Crea un objeto DataFrame.

  - `'series'`: Crea un objeto Series.

- `dtype` (opcional): Permite especificar el tipo de datos de las columnas. Puede ser un diccionario que mapee nombres de columna a tipos de datos o un solo tipo de datos para aplicar a todas las columnas.

- `convert_axes` (opcional): Indica si las etiquetas de los ejes deben convertirse en índices o nombres de columna. Por defecto, es `True`.

- `convert_dates` (opcional): Indica si se deben convertir las cadenas de fecha y hora en objetos de fecha y hora. Por defecto, es `True`.

- `keep_default_dates` (opcional): Especifica si se deben mantener las fechas predeterminadas al convertir cadenas de fecha y hora. Por defecto, es `True`.

- `numpy` (opcional): Indica si los datos deben devolverse como una matriz NumPy en lugar de un objeto DataFrame. Por defecto, es `False`.

- `precise_float` (opcional): Indica si se deben utilizar números de punto *float* precisos en lugar de valores de punto *float* nativos de Python. Por defecto, es `False`.

- `date_unit` (opcional): Especifica la unidad de fecha y hora si se deben convertir las cadenas de fecha y hora. Puede ser `'s'` para segundos o `'ms'` para milisegundos.

- `encoding` (opcional): Permite especificar la codificación del archivo JSON si no se puede inferir automáticamente.

- `lines` (opcional): Indica si el archivo JSON contiene múltiples objetos JSON en líneas separadas en lugar de un solo objeto JSON.

Estos son solo algunos de los parámetros más comunes utilizados en `pd.read_json`. La función `pd.read_json` también admite otros parámetros opcionales, como `orient`, `date_format`, `numpy`, `compression` y más. Podemos consultar la [documentación oficial](https://pandas.pydata.org/docs/reference/api/pandas.read_json.html) para obtener información más detallada sobre estos parámetros y sus opciones.

In [19]:
df_residuos = pd.read_json("../files/residuos.json")
df_residuos.head()

                                                data
0  {'residuos_pelig_cantidad_ton': 23476.42, 'res...
1  {'residuos_pelig_cantidad_ton': 1927.25, 'resi...
2  {'residuos_pelig_cantidad_ton': 25333.54, 'res...
3  {'residuos_pelig_cantidad_ton': 22060.07, 'res...
4  {'residuos_pelig_cantidad_ton': 13109.74, 'res...

In [ ]:
# esto nos devuelve un DataFrame que esta lleno de diccionarios!
# sin embargo, lo podemos convertir fácilmente a algo más legible usando la siguiente sintaxis
# este código no es necesario que lo entendamos ahora, más adelante según avancen las lecciones lo iremos entendiendo mejor!

df_residuos2 = df_residuos['data'].apply(pd.Series)
df_residuos2.head()

/tmp/ipykernel_4867/1252841819.py:5: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  df_residuos2 = df_residuos['data'].apply(pd.Series)

,residuos_pelig_cantidad_ton,residuos_pelig_año,residuos_pelig_opcion_gestion,residuos_pelig_tratamiento
0,23476.42,2012,Reciclado,Recuperación de disolventes
1,1927.25,2012,Reciclado,Recuperación de metales
2,25333.54,2012,Reciclado,Regeneración de aceite
3,22060.07,2012,Tratamiento previo a otras formas de valorización,Trituración previa a valorización de baterías
4,13109.74,2012,Tratamiento previo a otras formas de valorización,Operaciones previas a valorización de RAEE

## `pd.read_pickle`


**¿Qué es Pickle exactamente?**

Un archivo de tipo pickle es un archivo binario en Python que se utiliza para serializar y deserializar objetos,  su acrónimo viene de *Python Pickle Format* que fue desarrollado exclusivamente para Python. Leyendo solo esto podemos seguir sin tener claro que es un archivo de tipo pickle. Expliquemoslo de una forma más sencilla. Imagina que tienes un montón de objetos especiales en tu habitación, como juguetes, libros, peluches, etc. Ahora, supongamos que quieres guardar todos estos objetos en una caja para poder llevarlos contigo o almacenarlos de manera segura.

Aquí es donde entra en juego un archivo pickle. Es como una caja especial que te permite guardar todos estos objetos en ella. Pero, en lugar de objetos físicos, el archivo pickle puede almacenar objetos digitales, como datos, números, listas, diccionarios y más.

El archivo pickle es como una caja mágica que puede guardar todos tus objetos digitales de Python. Cuando guardas estos objetos en un archivo pickle, se convierten en una forma especial que se puede almacenar en tu computadora o enviar a alguien más.

La sintaxis básica de `pd.read_pickle` es la siguiente:

```python
pd.read_pickle(ruta_al_fichero, compression='infer')
```

Donde:

- `filepath_or_buffer`: Es la ruta del archivo pickle que deseas leer.

- `compression` (opcional): Es un parámetro opcional que indica el tipo de compresión utilizado en el archivo pickle. Por defecto, es `'infer'`, lo que significa que la biblioteca intentará inferir automáticamente el tipo de compresión. Puedes especificar un tipo de compresión explícitamente, como `'gzip'` o `'bz2'`, si el archivo pickle está comprimido.

In [21]:
df_pkl = pd.read_pickle("../files/paises_capitales.pkl")
df_pkl

{'Colombia': 'Bogotá', 'Ecuador': 'Quito', 'Argentina': 'Buenos'}

## loc e iloc (Indexación en Pandas)

`loc` y `iloc` son métodos utilizados para acceder y manipular los datos en un DataFrame de Pandas. Ambos métodos se utilizan para la indexación basada en etiquetas o *integer*s, respectivamente.

- `loc`: Se utiliza para acceder a los datos utilizando etiquetas de fila y columna. Permite seleccionar filas y columnas **basándose en sus nombres o etiquetas**. La sintaxis general para `loc` es `df.loc[filas, columnas]`, donde `filas` y `columnas` pueden ser una etiqueta única o una lista de etiquetas.

- `iloc`: Se utiliza para acceder a los datos utilizando índices *integer*s de fila y columna. Permite seleccionar filas y columnas **basándose en sus posiciones numéricas**. La sintaxis general para `iloc` es `df.iloc[filas, columnas]`, donde `filas` y `columnas` pueden ser un número *integer* único o una lista de números *integer*s.

La principal diferencia entre `loc` y `iloc` radica en cómo se realiza la indexación:
- `loc`: Utiliza etiquetas o nombres de filas y columnas para realizar la indexación. Por ejemplo, `df.loc[3, 'A']` seleccionará el valor en la fila con etiqueta 3 y la columna con etiqueta 'A'.

- `iloc`: Utiliza índices *integers* basados en la posición para realizar la indexación. Por ejemplo, `df.iloc[3, 0]` seleccionará el valor en la cuarta fila y primera columna (como siempre, el índice empieza en 0).

Además, `loc` incluye el límite superior en los rangos de selección, mientras que `iloc` excluye el límite superior. Por ejemplo, `df.loc[1:3, 'A']` seleccionará las filas con etiquetas 1, 2 y 3, mientras que `df.iloc[1:3, 0]` seleccionará las filas con índices 1 y 2 (excluyendo el índice 3).

In [22]:
# importamos un nuevo fichero de datos para entender mejor estos conceptos
df = pd.read_csv("../files/data.csv", index_col=["Day"])
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

### Selección a través de un único elemento
En este primer ejercicio vamos a intentar sacar el valor de 96, en concreto hace referencia a la humedad el martes. Recordemos que: 

- En el `loc` usaremos los nombres de las filas y las columnas (es como el juego de hundir la flota), corresponde a lo que tenemos en rojo en la imagen. 

- En el `iloc` usaremos los indices de las filas y las columnas, igual que hacíamos en las listas o los *arrays* de NumPy, corresponde con lo que vemos en verde en la imagen. 

![imagen](https://github.com/Adalab/data_imagenes/blob/main/Pandas/loc-iloc-explicacion_ej1.png?raw=true)

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'La humedad que hizo el martes usando el LOC es:  {df.loc["Tue", "Humidity"]}%')

# usando el iloc, accediendo por los índices, que empiezan en 0 como siempre en Python
print(f'La humedad que hizo el martes usando el ILOC es:  {df.iloc[1, 3]}%')

La humedad que hizo el martes usando el LOC es:  96%
La humedad que hizo el martes usando el ILOC es:  96%

Imaginemos que queremos sacar una fila en concreto pero todas las columnas o viceversa:

> En estos casos tendremos que usar `:`, esto índica que lo queremos todo. Es decir: 

```python
[filas-deseadas, :] # le estamos diciendo que nos busque por una fila dada y nos devuelva todas las columnas

[:, columna-deseada] # devuelvenos todas las filas de la columna que especifiquemos
```

Imaginemos ahora que queremos extraer toda la información climática del martes. En este caso, querremos de una fila concreta todas las columnas. 

![imagen2](https://github.com/Adalab/data_imagenes/blob/main/Pandas/loc-iloc-explicacion_ej2.png?raw=true)

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'Las condiciones climáticas del martes usando el LOC es: \n  {df.loc["Tue", :]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los índices
print(f'Las condiciones climáticas del martes usando el ILOC es: \n  {df.iloc[1, :]}')

Las condiciones climáticas del martes usando el LOC es:
  Weather        Sunny
Temperature    19.67
Wind              28
Humidity          96
Name: Tue, dtype: object

----------------------

Las condiciones climáticas del martes usando el ILOC es:
  Weather        Sunny
Temperature    19.67
Wind              28
Humidity          96
Name: Tue, dtype: object

¿Y si ahora quisieramos extraer el viento que ha hecho durante la semana? En este caso querríamos todas las filas y una sola columna. 

![imagen3](https://github.com/Adalab/data_imagenes/blob/main/Pandas/loc-iloc-explicacion_ej3.png?raw=true)

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'Las viento que hizo durante la semana usando el LOC es: \n  {df.loc[:, "Wind"]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los índices
print(f'Las condiciones climáticas del martes usando el ILOC es: \n  {df.iloc[:, 2]}')

Las viento que hizo durante la semana usando el LOC es:
  Day
Mon    13
Tue    28
Wed    16
Thu    11
Fri    26
Sat    27
Sun    20
Name: Wind, dtype: int64

----------------------

Las condiciones climáticas del martes usando el ILOC es:
  Day
Mon    13
Tue    28
Wed    16
Thu    11
Fri    26
Sat    27
Sun    20
Name: Wind, dtype: int64

### Selección a través de una lista de valores 

En este caso la sintaxis del `loc` y el `iloc` cambian un poco. Seguiremos usando los nombres de las filas y las columnas para el `loc` y los índices para el `iloc`, pero tendremos que añadir algún corchete más. 

```python
[[fila_deseada1, fila_deseada2], :] # le estamos diciendo que nos busque por una fila dada y nos devuelva todas las columnas. FIJAOS COMO LO QUE HEMOS HECHO HA SIDO AÑADIR UNOS CORCHETES MÁS DONDE INCLUIREMOS LOS NOMBRES DE LAS FILAS O COLUMNAS QUE QUERRAMOS SEPARADAS POR COMAS. Los ':' siguen indicando que queremo todas las columnas en este caso.

[:, [col_deseada1, col_deseada2]] # devuelvenos todas las filas de la columna que especifiquemos. FIJAOS COMO LO QUE HEMOS HECHO HA SIDO AÑADIR UNOS CORCHETES MÁS DONDE INCLUIREMOS LOS NOMBRES DE LAS FILAS O COLUMNAS QUE QUERRAMOS SEPARADAS POR COMAS. Los ':' siguen indicando que queremos todas las filas.
```

Ahora queremos extraer la información del viento, pero ya no lo queremos para toda la semana, en realidad lo quiero para el martes y el domingo.

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El viento que hizo el martes y el domingo usando el LOC es: \n  {df.loc[["Tue", "Sat"], "Wind"]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los índices
print(f'El viento que hizo el martes y el domingo  usando el ILOC es: \n  {df.iloc[[1, 5], 2]}')

El viento que hizo el martes y el domingo usando el LOC es:
  Day
Tue    28
Sat    27
Name: Wind, dtype: int64

----------------------

El viento que hizo el martes y el domingo  usando el ILOC es:
  Day
Tue    28
Sat    27
Name: Wind, dtype: int64

Imaginemos ahora que no queremos solo la información del viento para el martes y el domingo, sino que también queremos la información de la temperatura.

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f'El viento y la temperatura que hizo el martes y el domingo usando el LOC es: \n  {df.loc[["Tue", "Sat"], ["Wind", "Temperature"]]}')

print("\n----------------------\n")
# Usando el iloc, accediendo por los índices
print(f'El viento y la temperatura que hizo el martes y el domingo usando el ILOC es: \n  {df.iloc[[1, 5], [1,2]]}')

El viento y la temperatura que hizo el martes y el domingo usando el LOC es:
       Wind  Temperature
Day
Tue    28        19.67
Sat    27        11.07

----------------------

El viento y la temperatura que hizo el martes y el domingo usando el ILOC es:
       Temperature  Wind
Day
Tue        19.67    28
Sat        11.07    27

### Selección de un rango de datos a través de un corte

En este caso podremos usar la sintaxis de `[start:stop:step]` que conocemos de listas.

In [ ]:
# lo primero que vamos a hacer es recordar el DataFrame
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

En este ejercicio vamos a querer sacar la temperatura, el viento y la humedad del martes y el viernes.

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f"El viento, la temperatura y la humedad que hizo el martes y el viernes usando el LOC es: \n  {df.loc[['Thu', 'Fri'], 'Temperature':'Humidity' ]}")

print("\n----------------------\n")
# Usando el iloc, accediendo por los índices
print(f'El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es: \n  {df.iloc[[1, 5], 1:4]}')

El viento, la temperatura y la humedad que hizo el martes y el viernes usando el LOC es:
       Temperature  Wind  Humidity
Day
Thu        14.44    11        22
Fri        10.51    26        79

----------------------

El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es:
       Temperature  Wind  Humidity
Day
Tue        19.67    28        96
Sat        11.07    27        62

Y si quisieramos saber todas las condiciones climáticas del lunes , miércoles y viernes? En este caso tendremos que hacer uso del `[start_ stop: step]`

In [ ]:
# Usando el loc, accediendo por los nombres de las filas y las columnas
print(f"Las condiciones climáticas que hicieron el lunes, miércoles y viernes usando el LOC es: \n  {df.loc['Mon':'Fri':2 , :]}")

print("\n----------------------\n")
# Usando el iloc, accediendo por los índices
print(f'El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es: \n  {df.iloc[0:6:2, :]}')

Las condiciones climáticas que hicieron el lunes, miércoles y viernes usando el LOC es:
      Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Wed   Sunny        17.51    16        20
Fri  Shower        10.51    26        79

----------------------

El viento, la temperatura y la humedad que hizo el martes y el viernes usando el ILOC es:
      Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Wed   Sunny        17.51    16        20
Fri  Shower        10.51    26        79

### Seleccionar basado en una condición 

Al igual que en NumPy podemos filtrar los datos de nuestro DataFrame usando operadores de comparación,  como `>`, `<`, `>=`, `<=`, `==` o `!=`. Pero antes de ponernos a ver como filtrar datos, aprendamos ha acceder solo a una columna de nuestro DataFrame. Podríamos pensar que lo podemos hacer con un `loc` o un `iloc` como hemos estado viendo hasta ahora, pero hay una forma un poco más sencilla. Para eso deberemos seguir la siguiente sintaxis:

```python
df["nombre_columna"]
df.nombre_columna
# estas dos opciones me devuelven exactamente lo mismo. 
```

In [ ]:
# recordamos el DataFrame
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

In [ ]:
# accedemos a los datos de la columna 'Temperature'
# Fijaos como nos ha devuelto una serie donde tenemos todos los valores de la columna 'Temperature'
df["Temperature"]

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

In [ ]:
# El código de arriba es exactamente igual que:
df.Temperature

Day
Mon    12.79
Tue    19.67
Wed    17.51
Thu    14.44
Fri    10.51
Sat    11.07
Sun    17.50
Name: Temperature, dtype: float64

¿Y que pasaría si quisiera acceder a varias columnas? Solo podremos usar la sintaxis `df[["columna_1", "columna_2"]]`. Fijaos como ahora estamos añadiendo un corchete extra a la sintaxis que hemos aprendido en los pasos anteriores.

In [ ]:
df[["Temperature", "Wind"]]

     Temperature  Wind
Day
Mon        12.79    13
Tue        19.67    28
Wed        17.51    16
Thu        14.44    11
Fri        10.51    26
Sat        11.07    27
Sun        17.50    20

Una vez que hemos visto esto como acceder a los datos de una o varias columnas unicamente, vamos a ver como podemos filtrar los datos del DataFrame, igual que hacíamos en los *arrays*. 

En este primer ejemplo, vamos a quedarnos con todos los datos donde la temperatura sea mayor que 12ºC. En este caso seguiremos la siguiente sintaxis: 

```python
df.loc[df["columna"] CONDICION]
```

In [ ]:
# filtramos nuestros datos para quedarnos solo con las filas donde la temperatura sean mayor que 12
df_mayor_12_1 = df.loc[df.Temperature > 12, :]
print(f"El resultado usando la sintaxis de DF.COLUMNA usando LOC es:\n {df_mayor_12_1}")

print("\n --------------- \n")

# la linea de arriba es exactamente la misma que esta que vemos aquí abajo
df_mayor_12_2 = df.loc[df["Temperature"] > 12, :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:\n {df_mayor_12_1}")

El resultado usando la sintaxis de DF.COLUMNA usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

In [ ]:
# ¿y como lo haríamos con iloc? Se nos ocurriría que usando los corchetes, poniendo el índice de la columna que queremos usar como filtro. 
# veamoslo. 
df.iloc[df[1] > 12, :]

KeyError: 1

⚠️ Obtenemos el error porque `iloc` no puede aceptar una Serie booleana. Sólo acepta una lista booleana. Podemos utilizar la función `list()` para convertir una Serie en una lista booleana. Por lo tanto, tendríamos que:

In [ ]:
df.iloc[list(df.Temperature > 12), :]

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

In [ ]:
# si juntamos todo lo aprendido de loc e iloc en las últimas celdas

# filtramos nuestros datos para quedarnos solo con las filas donde la temperatura sean mayor que 12
df_mayor_12_1 = df.loc[df.Temperature > 12, :]
print(f"El resultado usando la sintaxis de DF.COLUMNA usando LOC es:\n {df_mayor_12_1}")

print("\n --------------- \n")

# la linea de arriba es exactamente la misma que esta que vemos aquí abajo
df_mayor_12_2 = df.loc[df["Temperature"] > 12, :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:\n {df_mayor_12_1}")

print("\n --------------- \n")

# filtramos con ILOC
df_mayor_12_iloc = df.iloc[list(df.Temperature > 12), :]
print(f"El resultado usando la sintaxis de df['COLUMNA'] usando ILOC es:\n {df_mayor_12_iloc}")

El resultado usando la sintaxis de DF.COLUMNA usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

 ---------------

El resultado usando la sintaxis de df['COLUMNA'] usando ILOC es:
     Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Sun   Sunny        17.50    20        10

**¿Y si queremos que se cumplan varias condiciones?**

En este caso tendremos que usar los operadores & o |, como vimos en NumPy. Recordemos lo que significan: 

- `&`: es como el operador `and`. En este caso se tendrán que cumplir todas las condiciones que le pasemos. 


- `|`: es como el operador `or`. En este caso nos devolverá datos de las condiciones que se cumplan, pero tienen porque cumplirse todas a la vez. O una condición y otra. 

En este ejercicio vamos a querer filtrar  los días de la semana que había un viento mayor que 20 y que el tiempo era soleado ("Sunny")

In [ ]:
# Seleccionar aquellas filas donde se cumpla la condición de que el viento es mayor que 20 y el tiempo era soleado.
# además estamos especificando que nos devuelva solo las columnas de "Temperature" y " Wind"
# SE TIENEN QUE CUMPLIR LAS DOS CONDICIONES

# filtramos con LOC
df_dos_condiciones_loc = df.loc[(df.Wind > 20) & (df.Weather == 'Sunny'), :]

# filtramos con ILOC
df_dos_condiciones_iloc = df.iloc[list((df.Wind > 20) & (df.Weather == 'Sunny')), :]


print(f"El resultado usando LOC es:\n {df_dos_condiciones_loc}")

print("\n --------------- \n")

print(f"El resultado usando ILOC es:\n {df_dos_condiciones_iloc}")

El resultado usando LOC es:
     Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96

 ---------------

El resultado usando ILOC es:
     Weather  Temperature  Wind  Humidity
Day
Tue   Sunny        19.67    28        96

**POR LO TANTO, LAS DIFERENCIAS ENTRE `LOC` E `ILOC` SON:**

|       | loc                                             | iloc                                                |
|-------|-------------------------------------------------|-----------------------------------------------------|
| Uso   | Acceso a datos utilizando etiquetas de índice    | Acceso a datos utilizando posiciones de índice       |
| Índice| Puede utilizar etiquetas o slices de etiquetas   | Solo puede utilizar posiciones enteras o slices      |
| Filtrado | Permite filtrar filas y seleccionar columnas     | Permite filtrar filas y seleccionar columnas         |
| Sintaxis | Utiliza etiquetas separadas por comas           | Utiliza posiciones enteras separadas por comas       |
| Ejemplo | `df.loc[3:5, 'columna']`                        | `df.iloc[3:5, 2]`                                   |

## Creación nuevas columnas

Como analistas de datos, podríamos estar interesadas en crear nuevas columnas en nuestro DataFrame por varias razones:

1. **Transformación de datos**: Al crear nuevas columnas, podemos aplicar transformaciones o cálculos a los datos existentes para obtener información adicional o modificar su representación. Por ejemplo, podríamos calcular porcentajes, ratios o aplicar funciones matemáticas o estadísticas a las columnas existentes.

2. **Agregación de datos**: Al crear nuevas columnas, podemos realizar agregaciones y resúmenes de los datos existentes. Podemos agrupar los datos por ciertas variables y calcular sumas, promedios, máximos, mínimos u otras métricas para cada grupo.

3. **Enriquecimiento de datos**: Podemos crear nuevas columnas utilizando datos externos o fuentes adicionales para enriquecer la información existente. Esto podría implicar fusionar DataFrames o realizar consultas a bases de datos para obtener información adicional que pueda ser relevante para nuestro análisis.

4. **Ingeniería de características**: La creación de nuevas columnas puede ser útil en la ingeniería de características, donde creamos variables predictivas o descriptivas adicionales para mejorar nuestros modelos o análisis. Podemos extraer características relevantes de las columnas existentes o combinar diferentes variables para crear nuevas representaciones.

5. **Facilitar el análisis y visualización**: Al crear nuevas columnas, podemos estructurar los datos de una manera que facilite el análisis o la visualización. Podemos categorizar o binarizar variables continuas, crear columnas de fecha y hora a partir de datos de tiempo, o etiquetar datos utilizando condiciones o funciones de mapeo.

En Pandas, hay diversas formas de crear nuevas columnas, algunas de las más importantes:

1. **Asignación directa**: Podemos asignar una nueva columna utilizando una operación o cálculo en base a las columnas existentes. Por ejemplo, podemos asignar una nueva columna "nueva_columna" que sea el resultado de sumar dos columnas existentes "columna1" y "columna2".


2. **Método `assign()`:**  nos permite crear una nueva copia del DataFrame original con una o varias columnas nuevas agregadas. Podemos especificar el nombre de la nueva columna y proporcionar una expresión o función para calcular los valores.


3. **Método insert():** nos permite insertar una nueva columna en un DataFrame en una posición específica, especificando el índice de la columna y los valores correspondientes.

In [ ]:
# antes de nada recordemos como es nuestro dataframe
df

    Weather  Temperature  Wind  Humidity
Day
Mon   Sunny        12.79    13        30
Tue   Sunny        19.67    28        96
Wed   Sunny        17.51    16        20
Thu  Cloudy        14.44    11        22
Fri  Shower        10.51    26        79
Sat  Shower        11.07    27        62
Sun   Sunny        17.50    20        10

### Asignación directa

Supongamos que queremos tener la temperatura también en grados Farenheit. Podríamos crearnos una columna nueva aplicando una serie de operaciones sobre la que ya tenemos:

In [ ]:
# lo primero que hacemos es establecer el nombre de la nueva columna que queremos, y esto lo igualaremos a la operación que queremos
# en este caso, todos los valores de la columna 'Temperature' multiplicados por 9/5 y a todo esto le sumamos 32
# lo que va a hacer es ir valor a valor (celda a celda) aplicando las operaciones que le hemos especificado. 

df["Farenheit"] = (df["Temperature"] * 9/5) + 32

# si ahora volvemos a ver nuestro dataframe tendremos una nueva columna
# con la temperatura convertida en Farenheit

df.head()

    Weather  Temperature  Wind  Humidity  Farenheit
Day
Mon   Sunny        12.79    13        30     55.022
Tue   Sunny        19.67    28        96     67.406
Wed   Sunny        17.51    16        20     63.518
Thu  Cloudy        14.44    11        22     57.992
Fri  Shower        10.51    26        79     50.918

### `.assign()`

Crea una nueva copia del DataFrame original con columnas adicionales agregadas. La sintaxis básica del método `assign()` de Pandas es la siguiente:

```python
df_new = df.assign(nueva_columna=expresión)
```

- `df`: Es el DataFrame original al que queremos agregar la nueva columna.

- `nueva_columna`: Es el nombre que le asignamos a la nueva columna que queremos crear.

- `expresión`: Es la expresión o cálculo que utilizamos para generar los valores de la nueva columna.

Podemos asignar múltiples columnas separándolas por comas:

```python
df_new = df.assign(nueva_columna1=expresión1, nueva_columna2=expresión2)
```

In [ ]:
# creamos una nueva columna llamada `temp_f` que será el resultado de la operación que hemos explicado previamente
df.assign(temp_f=df['Temperature'] * 9 / 5 + 32)

    Weather  Temperature  Wind  Humidity  Farenheit  temp_f
Day
Mon   Sunny        12.79    13        30     55.022  55.022
Tue   Sunny        19.67    28        96     67.406  67.406
Wed   Sunny        17.51    16        20     63.518  63.518
Thu  Cloudy        14.44    11        22     57.992  57.992
Fri  Shower        10.51    26        79     50.918  50.918
Sat  Shower        11.07    27        62     51.926  51.926
Sun   Sunny        17.50    20        10     63.500  63.500

In [ ]:
# comprobamos que en el  DataFrame se ha creado. 
# Pero ... ¿Qué ha pasado? que nos la ha creado, pero no la ha guardado, para eso tendremos que sobreescribir el DataFrame
df = df.assign(temp_f=df['Temperature'] * 9 / 5 + 32)

# comprobamos de nuevo si la columna se ha creado
df

    Weather  Temperature  Wind  Humidity  Farenheit  temp_f
Day
Mon   Sunny        12.79    13        30     55.022  55.022
Tue   Sunny        19.67    28        96     67.406  67.406
Wed   Sunny        17.51    16        20     63.518  63.518
Thu  Cloudy        14.44    11        22     57.992  57.992
Fri  Shower        10.51    26        79     50.918  50.918
Sat  Shower        11.07    27        62     51.926  51.926
Sun   Sunny        17.50    20        10     63.500  63.500

### `insert()`

Crea una nueva copia del DataFrame original con columnas adicionales agregadas. La sintaxis básica del método `insert()` es la siguiente:

```python
df.insert(loc, column, value, allow_duplicates=False)
```

- `loc`: Es la posición numérica en la que queremos insertar la columna. Puede ser un número *integer* o una etiqueta.

- `column`: Es el nombre de la nueva columna que queremos insertar.

- `value`: Es el valor o valores que queremos asignar a la nueva columna. Puede ser un valor escalar, una lista o un array NumPy.

- `allow_duplicates` (opcional): Es un parámetro *bool* que indica si se permiten columnas duplicadas en el DataFrame. El valor predeterminado es `False`.

In [ ]:
# en este ejemplo estamos creando una columna nueva que se llama "indice" en la primera columna con números del 1 al 7. 

df.insert(0, "indice", range(1,8))

# comprobamos si la coolumna se ha creado correctamente
df

     indice Weather  Temperature  Wind  Humidity  Farenheit  temp_f
Day
Mon       1   Sunny        12.79    13        30     55.022  55.022
Tue       2   Sunny        19.67    28        96     67.406  67.406
Wed       3   Sunny        17.51    16        20     63.518  63.518
Thu       4  Cloudy        14.44    11        22     57.992  57.992
Fri       5  Shower        10.51    26        79     50.918  50.918
Sat       6  Shower        11.07    27        62     51.926  51.926
Sun       7   Sunny        17.50    20        10     63.500  63.500

In [ ]:
# ⚠️ Si volvieramos a crear otra colummna con el nombre de una columna ya existente nos daría error, 
# porque no podemos insertar dos columnas con el mismo nombre, ya que el parámetro `allow_duplicates` esta puesto en False 

df.insert(0, "indice", range(1,8))

ValueError: cannot insert indice, already exists

# Ejercicios

A lo largo de todos los ejercicios de la clase invertida trabajaremos con un *csv* que contiene información de las ventas de un *e-commerce*. En concreto usaremos un DataFrame que se llama `rating-and-performance.csv`. Nos proporciona información detalladas de las características de cada producto, calificaciones, ventas, reseñas y otras métricas para que podamos comprender qué hace que un producto de verano tenga éxito en Wish. Veamos en detalles sus columnas para entender mejor el conjuntos de datos: 


| Columna                      | Descripción                                                                                                    |
|------------------------------|----------------------------------------------------------------------------------------------------------------|
| title                        | El título del producto. (*object*)                                                                      |
| title_orig                   | El título original del producto. (*object*)                                                             |
| price                        | El precio del producto. (*float*)                                                                             |
| retail_price                 | El precio minorista original del producto. (*float*)                                                           |
| currency_buyer               | La moneda del comprador. (*object*)                                                                     |
| units_sold                   | El número de unidades vendidas. (*integer*)                                                                       |
| uses_ad_boosts               | Un indicador de si el producto ha sido promovido mediante anuncios. (*bool*)                                  |
| rating                       | La calificación del producto. (*float*)                                                                       |
| rating_count                 | El número total de calificaciones para el producto. (*integer*)                                                    |
| rating_five_count            | El número de calificaciones de cinco estrellas para el producto. (*integer*)                                       |
| rating_four_count            | El número de calificaciones de cuatro estrellas para el producto. (*integer*)                                      |
| rating_three_count           | El número de calificaciones de tres estrellas para el producto. (*integer*)                                        |
| rating_two_count             | El número de calificaciones de dos estrellas para el producto. (*integer*)                                         |
| rating_one_count             | El número de calificaciones de una estrella para el producto. (*integer*)                                          |
| badges_count                 | El número de insignias asociadas al producto. (*integer*)                                                          |
| badge_local_product          | Un indicador de si el producto es local. (*bool*)                                                             |
| badge_product_quality        | Un indicador de si el producto tiene una insignia de calidad. (*bool*)                                        |
| badge_fast_shipping          | Un indicador de si el producto tiene una insignia de envío rápido. (*bool*)                                   |
| tags                         | Las etiquetas asociadas al producto. (*object*)                                                         |
| product_color                | El color del producto. (*object*)                                                                       |
| product_variation_inventory  | El inventario de la variación del producto. (*integer*)                                                           |
| shipping_option_name         | El nombre de la opción de envío. (*object*)                                                             |
| shipping_option_price        | El precio de la opción de envío. (*float*)                                                                    |
| shipping_is_express          | Un indicador de si la opción de envío es express. (*bool*)                                                    |
| countries_shipped_to         | Los países a los que se envía el producto. (*object*)                                                   |
| inventory_total              | El inventario total del producto. (*integer*)                                                                     |
| has_urgency_banner           | Un indicador de si el producto tiene un banner de urgencia. (*bool*)                                          |
| urgency_text                 | El texto del banner de urgencia. (*object*)                                                             |
| origin_country               | El país de origen del producto. (*object*)                                                              |
| merchant_title               | El título del comerciante. (*object*)                                                                   |
| merchant_name                | El nombre del comerciante. (*object*)                                                                   |
| merchant_info_subtitle       | El subtítulo del comerciante. (*object*)                                                                |
| merchant_rating_count        | El número total de calificaciones para el comerciante. (*integer*)                                                 |
| merchant_has_profile_picture | Un indicador de si el comerciante tiene una imagen de perfil. (*bool*)                                       |
| merchant_profile_picture     | La imagen de perfil del comerciante. (*object*)                                                         |
| product_url                  | La URL del producto. (*object*)                                                                         |
| product_picture              | La imagen del producto. (*object*)                                                                      |
| theme                        | El tema del producto. (*object*)                                                                        |
| crawl_month                  | El mes en que se obtuvo el producto. (*object*)                                                         |


Para seguir prácticando con Pandas os planteamos los siguientes ejercicios: 

1- Abre el fichero de `rating-and-performance` con el método que sea más correcto. Además muestra las 5 primeras filas del *DataFrame*. 

2- Pongamos en práctica el `loc` e `iloc`:

  - Usando el `loc`: 

      - Extraed todas las filas de la columna "price". ¿De qué tipo es el resultado obtenido?

      - Extraed todas las filas de las columnas "price" y "retail_price". ¿De qué tipo es el resultado obtenido?

      - Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count". 

    - Extraed las las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000. 

  - Usando el `iloc` (sacaremos los mismos resultados que con el loc): 

    - Extraed todas las filas de la columna "price". 

    - Extraed todas las filas de las columnas "price" y "retail_price". 

    - Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count". 

3- Cread una nueva columna donde tengamos la diferencia entre el precio al que vende el e-commerce menos el precio del minorista. Insertad esta columna en la posición dos.